.articulosculinarios {
	
}
.articulosculinarios .content {
	clear:both; float:left; width:676px; min-height:300px; text-align:left; color:#333;
}
.articulosculinarios ul.submenu { float:right; display:block; margin:0; padding:0; list-style-type:none; width:247px; text-align:left; margin-bottom:100px; }
.articulosculinarios ul.submenu  li { clear:left; display:block; margin:0; padding:4px 0; list-style-type:none; }
.articulosculinarios ul.submenu  li a { text-decoration:none; color:#333; }
.articulosculinarios ul.submenu  li a:hover { font-weight:bold; }
.articulosculinarios ul.submenu  li.active a { font-weight:bold; }
.articulosculinarios ul.submenu  li.active a:before { content:'> '; color:#EE4123; }
.articulosculinarios ul.submenu  li a span {  }
.articulosculinarios ul.submenu .title { color:#EE4123; text-transform:uppercase; padding-bottom:8px; font-size:1.5em; float:left; border-bottom: 1px solid #EE4123; margin-bottom: 16px; font-weight:bold; padding-right:48px; }


/* titulo */

.articulosculinarios_title { color:#EE4123; font-weight:bold; font-size:2.7em; text-transform:uppercase; float:left; padding:70px 0 8px 0; margin-bottom:8px; text-align:left;}
.articulosculinarios_content { color:#888; font-size:1.8em; padding:16px 0; border-bottom:1px solid #888; clear: left; text-align: left; float: left; width: 670px; margin-bottom:24px; } 


/**** NIVEL 2 ****/
.articulosculinarios .nav a.prev { font-weight:normal; }
.articulosculinarios .nav a.next { font-weight:normal; float:right;}
.articulosculinarios .nav a.next .arrow { float:right;}
.articulosculinarios #ajaxable_content { padding-top:32px; text-align:left;}


/***** artículo POST *****/
.articulosculinarios .article_title { font-size:2em; color:#EE4123; padding-bottom:8px; }
.articulosculinarios .article_date { font-size:1.2em; color:#888; }
.articulosculinarios .article_author { font-size:1em; color:#888; font-style: italic; }
.articulosculinarios .article_extract { font-size:1.3em; padding: 24px 0; } 
.articulosculinarios .article_content { font-size:1.1em; padding-bottom:64px;} 
.articulosculinarios .article_img { float:left; }
.articulosculinarios .article_img img { border-bottom:2px solid #EE4123; margin-bottom:16px; }

/***** lista de artículos POST *****/
.articulosculinarios ul.list_post { display:block; margin:0; padding:0; list-style-type:none; }
.articulosculinarios ul.list_post li.article { display:block; margin:0; padding:24px 0 64px; list-style-type:none; }
.articulosculinarios ul.list_post li.article .img { float:left; width:324px; height:270px; overflow:hidden; border-bottom:2px solid #EE4123; margin-right:16px; }
.articulosculinarios ul.list_post li.article .img span { display:block; height:100%; width:100%; background-color:#dedede;}
.articulosculinarios ul.list_post li.article .img img { }
.articulosculinarios ul.list_post li.article .date { font-size:1.2em; color:#888; }
.articulosculinarios ul.list_post li.article .author { font-size:1em; color:#888; font-style:italic; }
.articulosculinarios ul.list_post li.article .title { font-size:2em; padding:24px 0 12px; }
.articulosculinarios ul.list_post li.article .extract { font-size:1.1em; padding-bottom:12px; }
.articulosculinarios ul.list_post li.article a.link { display:block; height:36px; background: url(../img/banner_3/btn_conoce.png) left no-repeat; line-height:36px; padding-left:12px; float:left; position:relative; font-size:15px; text-decoration:none; color:white; }
.articulosculinarios ul.list_post li.article a.link:after { content:">"; height:36px; width:32px; display:block; position:absolute; top:0; right:-32px; text-align:center; background: url(../img/banner_3/btn_conoce.png) right no-repeat; }
.articulosculinarios .paginador { font-size:1.1em; }
.articulosculinarios .paginador .label { padding:8px 0 32px; border-bottom:1px solid #aaa; margin-bottom:32px; }
.articulosculinarios .paginador .nav { height:100px; }
.articulosculinarios .paginador .nav a { text-decoration:none; color:#333; }
.articulosculinarios .paginador .nav a.disabled { display:none; }
.articulosculinarios .paginador .nav a:hover { color:#8D971C; }
.articulosculinarios .paginador .nav a.prev { float:left; }
.articulosculinarios .paginador .nav a.prev:before { content:"< "; color:#8D971C; }
.articulosculinarios .paginador .nav a.next { float:right; }
.articulosculinarios .paginador .nav a.next:after { content:" >"; color:#8D971C; }
