.cuerpodocente {
	
}
.cuerpodocente .content {
	clear:both; float:left; width:100%; text-align:left; color:#333;
}

/* titulo */

.cuerpodocente_title {
	color:#EE4123; font-weight:bold; font-size:2.5em; text-transform:uppercase; float:left; padding:102px 0 8px 0; margin-bottom:48px; text-align:left; width:200px;
	border-bottom:1px solid #EE4123;
}
.cuerpodocente_title:first-line { display:block; font-weight:normal; font-size:0.7em; }

ul.docentes { display:block; margin:0; padding:20px 0 0; list-style-type:none;}
ul.docentes li {display:inline; margin:0; padding:0; list-style-type:none; position:relative; }
ul.docentes li:nth-of-type(4n+1) { display:block; clear:both; }
ul.docentes li .data_preview { float:left; width:256px; text-align:center; padding:32px 0;}
ul.docentes li .data_preview .img { cursor:pointer; }
ul.docentes li .data_preview .img img { width:210px; height:224px; }
ul.docentes li .data_preview .name { font-size:1.5em; padding:16px 48px 8px; position:relative; }
ul.docentes li .data_preview .name:before { content:''; display:block; width:50%; left:25%; bottom:0; position:absolute; border-top:1px solid #EE4123; }
ul.docentes li .data_preview .title { text-transform:uppercase; color:#aaa; padding:8px 48px; }
ul.docentes li .data_preview .countries {  }
ul.docentes li .data_preview .countries span { zoom:0.3; }

ul.docentes li .data_content { position:absolute; display:none; width: 1024px; top: 410px; background:#dedede; z-index: 1;}
ul.docentes li .data_content .content_content { height:470px; overflow:hidden; }
ul.docentes li .data_content .background { position:absolute; left:0; top:0; height:470px; z-index:-1;  background:#dedede; }
ul.docentes li .data_content .img { float:left; float:left; text-align:left; width:260px; padding:65px 0; background:url(../img/docente_lazo.png) 64px bottom no-repeat;}
ul.docentes li .data_content .img img { width:210px; height:224px; }
ul.docentes li .data_content .name { display:block; float:left; width:650px; padding:65px 0 12px; font-size:2em; }
ul.docentes li .data_content .title { display:block; float:left; width:650px; text-transform:uppercase; padding-bottom:16px; }
ul.docentes li .data_content .countries { display:inline-block; }
ul.docentes li .data_content .countries span { zoom:0.3; }
ul.docentes li .data_content .description { display:block; float:left; width:650px; height:220px;  }
ul.docentes li .data_content .link { }

ul.docentes li .data_content a.link { display:block; float:left; position:relative; left:260px; margin:0 auto; height:36px; background: url(../img/banner_3/btn_conoce.png) left no-repeat; line-height:36px; padding-left:12px; font-size:15px; text-decoration:none; color:white; }
ul.docentes li .data_content a.link:after { content:">"; height:36px; width:32px; display:block; position:absolute; top:0; right:-32px; text-align:center; background: url(../img/banner_3/btn_conoce.png) right no-repeat; }



ul.docentes li.hover .data_preview { padding-bottom:50px; position:relative; margin-bottom: 438px; }
ul.docentes li.hover .data_preview:before {
	content:''; display:block; position:absolute; top: 400px; left:120px; width:1px; height:1px; overflow:hidden; z-index:10;
	border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #dedede;
} 
ul.docentes li.hover .data_content { display:block !important; }