#footer .footer { background: #717B01; color:white;}
#footer .footer .footer_content { width:1024px; height:4em; margin:0 auto; line-height:2em; }
#footer .footer .copy {float:left; position:relative; top:1em; }
#footer .footer a {text-decoration:none; float:right; display:block; color:#fff; position:relative; top:1em;  }
#footer .footer a.politicas { padding-left:12px; }
#footer .footer a.terminos { padding-right:12px; border-right:1px solid rgba(255,255,255,0.1); }



#footer .partners { width:1000px; margin:0 auto; border-top:1px solid #8A9414; padding:50px 0; clear:both; }
#footer .partners .parners_title { color:#EE4123; font-size:2.5em; text-transform:uppercase; font-weight:normal; }
#footer .partners .parners_content { padding: 32px;}



#footer .contact { background:#8A9414 url(../img/general/bloque2.png) center top no-repeat; color:#fff; height:350px; font-size:1.1em; }
#footer .contact .contact_content { width:1000px; margin:0 auto; padding-top:50px; }
#footer .contact .contact_contries { width:685px; float:left; border-right:1px solid rgba(255,255,255,0.1); text-align:left;  }
#footer .contact .contact_contries .contry { width:342px; height:158px; float:left;}
#footer .contact .title {font-weight:bold; padding-bottom:13px;}
#footer .contact .contact_contries .contry .phone { padding:0 0 13px 20px; background:url(../img/footer/phone_f.png) left top no-repeat; }
#footer .contact .contact_contries .contry .address { padding:0 0 13px 20px; background:url(../img/footer/indicador.png) left top no-repeat; }
#footer .contact .contact_contries .contry.others { float:right; height:auto; }
#footer .contact .contact_contries .contry.internet { height:auto; }
#footer .contact .contact_botton { width:312px; float:left; height:158px;}
#footer .contact .contact_botton a { display:inline-block; float:none; margin:0 auto; height:36px; background: url(../img/banner_3/btn_conoce.png) left no-repeat; line-height:36px; padding-left:12px; position:relative; font-size:15px; text-decoration:none; color:white; position:relative; left: -16px; }
#footer .contact .contact_botton a:after { content:">"; height:36px; width:32px; display:block; position:absolute; top:0; right:-32px; text-align:center; background: url(../img/banner_3/btn_conoce.png) right no-repeat; }
#footer .contact .contact_social {width:312px; float:left;}
#footer .contact .contact_social a { display:inline-block; width:41px; height:22px; background:transparent center center no-repeat; overflow:hidden; text-indent:-300px; margin:0 4px;}
#footer .contact .contact_social a.facebook {background-image:url(../img/footer/facebook.png);}
#footer .contact .contact_social a.youtube {background-image:url(../img/footer/you_tube.png);}
#footer .contact .contact_social a.instagram {background-image:url(../img/footer/instagram.png);}
#footer .contact .contact_social a.twitter {background-image:url(../img/footer/twitter.png);}
