#home {}
#home .home-slide { clear:both; text-align:center; position:relative; width:100%; overflow:hidden; }



#home .smpl_hslide.slideBackground { position:relative; height:620px; border-bottom:2px solid #EE4123; } 
#home .smpl_hslide.slideBackground .slide_nav { display:block; position:absolute; left:0px; width:100%; top:430px; text-align:center; z-index:9; }
#home .smpl_hslide.slideBackground .slide_nav ul { display:block; list-style-type:none; margin:0; padding:0; width:1024px; margin:0 auto; }
#home .smpl_hslide.slideBackground .slide_nav li { display:block; list-style-type:none; margin:0; margin:0 4px; float:left; }
#home .smpl_hslide.slideBackground .slide_nav .prev,
#home .smpl_hslide.slideBackground .slide_nav .next { display:none; }
#home .smpl_hslide.slideBackground .slide_nav .link a { display:block; cursor:pointer; background: url(../img/banner_1/paginador.png) center top; overflow:hidden; text-indent:-1000px; width:20px; height:21px; }
#home .smpl_hslide.slideBackground .slide_nav .link.active a { background-position:center bottom; }
#home .smpl_hslide.slideBackground .img { position:relative; margin:0 auto; }
#home .smpl_hslide.slideBackground img.page-image { position:absolute; left:0; top:0; width:100%; height:620px; pointer-events:none; background:white;  background: center center no-repeat; }
#home .smpl_hslide.slideBackground .slide-mark { position:relative; width:1024px; margin:0 auto; text-align:left; }
#home .smpl_hslide.slideBackground .slide-title { position:absolute; left:0px; top:80px; max-width:40%; font-weight:normal; font-size:2em; border-bottom:1px solid #EE4123; color:#EE4123; text-transform:uppercase; }
#home .smpl_hslide.slideBackground .slide-title:first-line { font-weight:bold; font-size:1.5em; }
#home .smpl_hslide.slideBackground .slide-content { position:absolute; left:0px; top:200px;  width:50%; font-size:1.4em; }
#home .smpl_hslide.slideBackground .slide-content span.dato { display:block; color:#EE4123; padding:8px 0; text-transform:uppercase; font-size: 0.9em;  }
#home .smpl_hslide.slideBackground a.link {  position:absolute; left:0px; top:350px; display:block; height:36px; background: url(../img/banner_1/btn_conoce.png) left no-repeat; line-height:36px; padding-left:12px; float:left; position:relative; font-size:15px; text-decoration:none; color:white; }
#home .smpl_hslide.slideBackground a.link:after { content: url(../img/arrow-left.png); padding-top: 8px;  height:36px; width:32px; display:block; position:absolute; top:0; right:-32px; text-align:center; background: right top no-repeat; background-image:inherit;}
#home .smpl_hslide.slideBackground a.link:hover { background-image: url(../img/banner_3/btn_conoce.png); }

#home .smpl_hslide.slideImage { position:relative; height:588px; width: 1px; margin: 0 auto; } 
#home .smpl_hslide.slideImage .slide_nav { display:block; list-style-type:none; margin:0; padding:0; position:absolute; top:200px; width:900px; left:-450px; height:100px; z-index:10; }
#home .smpl_hslide.slideImage .slide_nav  ul { display:block; list-style-type:none; margin:0; padding:0; }
#home .smpl_hslide.slideImage .slide_nav  li { display:block; list-style-type:none; margin:0; padding:0; }
#home .smpl_hslide.slideImage .slide_nav .prev,
#home .smpl_hslide.slideImage .slide_nav .next { display:block; cursor:pointer; width:45px; height:53px; background-position:center 0px; font-size:1px; text-indent:-100px; overflow:hidden; }
#home .smpl_hslide.slideImage .slide_nav .prev { float:left; background-image:url(../img/banner_3/flecha_izquierda.png); position:relative;  }
#home .smpl_hslide.slideImage  .slide_nav .next { float:right; background-image:url(../img/banner_3/flecha_derecha.png); position:relative; }
#home .smpl_hslide.slideImage .slide_nav .link { display:none; position:absolute; left:3px; top:155px; width:100%; text-align:center; height:100px; vertical-align:middle;}
#home .smpl_hslide.slideImage .slide_nav .link.active { display:table-cell; }
#home .smpl_hslide.slideImage .slide_nav .link a { display:inline-block; }
#home .smpl_hslide.slideImage .slide { position:absolute; left:0; top:0; z-index:0; }
#home .smpl_hslide.slideImage .img { position:absolute; width:320px; height:440px; }
#home .smpl_hslide.slideImage img.page-image { width:100%; height:100%; pointer-events:none; background: center center no-repeat; background-size:100% 100%;  }
#home .smpl_hslide.slideImage .slide-mark { position:absolute; left:-512px; top:415px; width:1024px; height:200px; text-align:center; background:url(../img/general/bloque1.png) center top no-repeat; }
#home .smpl_hslide.slideImage .slide-mark:before { display:block; content:""; background:url(../img/banner_4/360.png) center top no-repeat; height:24px; position:relative; top:20px; }
#home .smpl_hslide.slideImage .slide-title { position:relative; top:40px; font-size:24px; color:#8A9414; }
#home .smpl_hslide.slideImage .slide-content { position:relative; top:60px; width:500px; margin:0 auto; }


#home .smpl_tabs { height:363px; width:1280px; margin:0 auto;background: #fff;}
#home .smpl_tabs .tab { float:left; width:25%; height:100%; position:relative; }
#home .smpl_tabs .tab img.page-image { position:absolute; left:0; top:0; width:100%; height:100%; z-index:0; }
#home .smpl_tabs .tab .tab-title { display: table-cell; vertical-align: middle; position:relative; top:270px; width: 391px; height:100px; text-align:center; text-shadow: 0px 0px 5px rgba(128, 128, 128, 0.9); color:#fff; font-weight:bold; font-size:24px; text-transform:uppercase; z-index:1; }
#home .smpl_tabs .tab .tab-content { display:none; width:100%; height:332px; text-align:center; font-size:24px; vertical-align: middle; }
#home .smpl_tabs .tab:hover img.page-image { -khtml-opacity: 0.2; opacity: 0.2; }
#home .smpl_tabs .tab:hover .tab-title { display: none; }
#home .smpl_tabs .tab:hover .tab-content { display: table-cell; padding: 0 16px; }
#home .smpl_tabs .tab a.link { display:none; margin:0 auto; height:36px; background: url(../img/banner_1/btn_conoce.png) left no-repeat; line-height:36px; padding-left:12px; position:relative; font-size:15px; text-decoration:none; color:white; position:relative; left:-18px; top:-50px; }
#home .smpl_tabs .tab a.link:after { content: url(../img/arrow-left.png); padding-top: 8px;  height:36px; width:32px; display:block; position:absolute; top:0; right:-32px; text-align:center; background: right top no-repeat; background-image:inherit; }
#home .smpl_tabs .tab:hover a.link { display:inline-block;}
#home .smpl_tabs .tab a.link:hover { background-image: url(../img/banner_3/btn_conoce.png); }


#home .home-slide {}
#home .home-slide .home-slide-title { display:none; color:#EE4123; font-size:2.5em; text-transform:uppercase; font-weight:normal; }
#home .home-slide .home-slide-content { display:none; }

#home .home-slide_1 { height: 500px; }
#home .home-slide_1 .home-slide-content { position: absolute; top: 359px; display: block; height: 140px; z-index: 10; background: url(../img/general/bloque1.png) center top no-repeat; width: 100%; line-height:142px; font-size: 2.5em;}

#home .home-slide_2 .slide-mark  { text-align:center !important; }
#home .home-slide_2 .slide-mark .slide-title { display:none; }
#home .home-slide_2 .slide-mark .slide-content { display:block;  position:relative; left:0; top:150px; width:700px; margin:0 auto; float:none;  font-size:2.5em;}
#home .home-slide_2 .slideBackground { border:0; }
#home .home-slide_2 .slideBackground .slide_nav { top:240px; }
#home .home-slide_2 .slideBackground .slide_nav ul {width: 900px;}
#home .home-slide_2 .slideBackground .slide_nav .prev,
#home .home-slide_2 .slideBackground .slide_nav .next { display:block; cursor:pointer; width:45px; height:53px; background-position:center 0px; font-size:1px; text-indent:-100px; overflow:hidden; }
#home .home-slide_2 .slideBackground .slide_nav .prev:hover ,
#home .home-slide_2 .slideBackground .slide_nav .next:hover { background-position:center -58px; }
#home .home-slide_2 .slideBackground .slide_nav .prev { float:left; background-image:url(../img/banner_3/flecha_izquierda.png); }
#home .home-slide_2 .slideBackground .slide_nav .next { float:right; background-image:url(../img/banner_3/flecha_derecha.png); }
#home .home-slide_2 .slideBackground .slide_nav ul li.link {display:inline-block; float:none; }
#home .home-slide_2 .slideBackground .slide_nav ul li.link a { width:46px; height:50px; background:transparent; position:relative; text-indent:0;}
#home .home-slide_2 .slideBackground .slide_nav ul li.link a img { width:46px; height:100px; position:relative; top:0px; }
#home .home-slide_2 .slideBackground .slide_nav ul li.link.active a img,
#home .home-slide_2 .slideBackground .slide_nav ul li.link a:hover img { top:-55px; }
#home .home-slide_2 .slideBackground .slide_nav:before { display:block; content: "Elige tu área preferida"; font-size:1.5em; padding:8px 0; text-align:center; }
#home .home-slide_2 .slideBackground a.link { display:inline-block; float:none; margin:0 auto; height:36px; background: url(../img/banner_3/btn_conoce.png) left no-repeat; line-height:36px; padding-left:12px; position:relative; font-size:15px; text-decoration:none; color:white; position:relative; left: -16px; }
#home .home-slide_2 .slideBackground a.link:after { content: url(../img/arrow-left.png); padding-top: 8px;  height:36px; width:32px; display:block; position:absolute; top:0; right:-32px; text-align:center; background: right top no-repeat; background-image:inherit; }
#home .home-slide_2 .slideBackground a.link:hover { background-image: url(../img/banner_1/btn_conoce.png); }

#home .home-slide_3 {height:700px; background:url(../img/banner_4/back_3.png) center 40px no-repeat; }
#home .home-slide_3  .home-slide-title {display:block;}



.home-slide_mainContainer { position:relative; left:0; right:0; bottom:0; top:0; margin:auto; }
#home .home-slide_0 {z-index:10; }
#home .home-slide_1 {z-index:9; }
#home .home-slide_2 {z-index:8; }
#home .home-slide_3 {z-index:7; }


.home-slide_mainNavigator { position:fixed; right:100px; top:30%; z-index: 11;}
.home-slide_mainNavigator div { width:8px; height:61px; background:url(../img/general/scroll.png) center bottom no-repeat; cursor:pointer; }
.home-slide_mainNavigator div.active { background-position:center top; }
