.ofertaeducativa {
	
}
.ofertaeducativa .content {
	clear:both; float:left; width:676px; min-height:300px;
}
.ofertaeducativa ul.submenu { float:right; display:block; margin:0; padding:0; list-style-type:none; width:247px; text-align:left; margin-bottom:100px; }
.ofertaeducativa ul.submenu  li { clear:left; display:block; margin:0; padding:4px 0; list-style-type:none; }
.ofertaeducativa ul.submenu  li a { text-decoration:none; color:#333; }
.ofertaeducativa ul.submenu  li a:hover { font-weight:bold; }
.ofertaeducativa ul.submenu  li a.active { font-weight:bold; }
.ofertaeducativa ul.submenu  li a.active:before { content:'>'; color:#EE4123; }
.ofertaeducativa ul.submenu  li a span {  }
.ofertaeducativa ul.submenu .title { color:#EE4123; text-transform:uppercase; padding-bottom:8px; font-size:1.5em; float:left; border-bottom: 1px solid #EE4123; margin-bottom: 16px; font-weight:bold; padding-right:48px; }


/* titulo */

.ofertaeducativa_title { color:#EE4123; font-weight:bold; font-size:2.5em; text-transform:uppercase; float:left; padding:102px 0 8px 0; margin-bottom:48px; text-align:left;}
.ofertaeducativa_title span { display:block; font-weight:normal; font-size:0.7em; }

/**** NIVEL 0 ****/

.ofertaeducativa ul.ofertaeducativa_mainmenu {
	margin:0 auto; padding:0; list-style-type:none; display:block; width:1024px; clear:both;
}
.ofertaeducativa ul.ofertaeducativa_mainmenu li { background:#eee;
	margin:0; padding:0; list-style-type:none; display:block; position:relative;
}
.ofertaeducativa ul.ofertaeducativa_mainmenu li a {
	display:block; width:100%; height:100%;
	
}
.ofertaeducativa ul.ofertaeducativa_mainmenu li a span {
	position:absolute; left:0; right:0; bottom:0; display:block;
	z-index:1; text-align:center; padding:1em; color:#fff; text-transform:uppercase; font-size:1.5em; text-shadow: 0px 0px 5px rgba(128, 128, 128, 0.9);
}

.ofertaeducativa ul.ofertaeducativa_mainmenu li a img {
	display:block; position:absolute;left:0; top:0; z-index:0;
}

.ofertaeducativa ul.ofertaeducativa_mainmenu li:nth-of-type(6n+1){
	width:506px; height:165px; float:left; margin: 0 10px 10px 0;
}
.ofertaeducativa ul.ofertaeducativa_mainmenu li:nth-of-type(6n+2){
	width:248px; height:300px; float:right; margin: 0 0 10px 0;
}
.ofertaeducativa ul.ofertaeducativa_mainmenu li:nth-of-type(6n+3){
	width:248px; height:300px; float:right; margin: 0 10px 10px 0;
}
.ofertaeducativa ul.ofertaeducativa_mainmenu li:nth-of-type(6n+4),
.ofertaeducativa ul.ofertaeducativa_mainmenu li:nth-of-type(6n+5){
	width:248px; height:300px; float:left; margin: 0 10px 10px 0;
}
.ofertaeducativa ul.ofertaeducativa_mainmenu li:nth-of-type(6n+6){
	width:506px; height:165px; float:right;
}

/**** NIVEL 1 ****/
.ofertaeducativa .nav { height:32px; border-bottom:1px solid #8A9414; }
.ofertaeducativa .nav a { float:left; text-decoration:none; color:#333; font-weight:bold; text-transform:uppercase; }
.ofertaeducativa .nav a span.arrow { color:#8A9414; padding:0 4px; }
.ofertaeducativa .nav a span.label { font-weight:normal;}
.ofertaeducativa .nav a span.title { } 	
.ofertaeducativa .nivel2 .content_menu { margin:0; padding:0; list-style-type:none; display:block; padding:32px 0; }
.ofertaeducativa .nivel2 .content_menu li { margin:0; padding:0; list-style-type:none; display:block; float:left; margin-bottom:100px; }
.ofertaeducativa .nivel2 .content_menu li:nth-of-type(2n+1) { clear:both; }
.ofertaeducativa .nivel2 .content_menu li:nth-of-type(2n+2) { float:right; }
.ofertaeducativa .nivel2 .content_menu li a { display:block; position:relative; width:324px; height:270px; text-decoration:none; font-size:1.2em; color:#333; text-align:right; border-bottom:2px solid #EE4123; }
.ofertaeducativa .nivel2 .content_menu li a img.image { display:block; width:333px; position:absolute; z-index:0; width:100%; height:100%;}
.ofertaeducativa .nivel2 .content_menu li a img.icon { position:absolute; width:64px; height:64px; left: 20px; top: 20px; z-index:1; }
.ofertaeducativa .nivel2 .content_menu li a span.title { position:relative; display:table-cell; width: 200px; height: 80px; top: 14px; left: 102px; z-index:2; vertical-align:middle; }

/**** NIVEL 2 ****/
.ofertaeducativa .nav a.prev { font-weight:normal; }
.ofertaeducativa .nav a.next { font-weight:normal; float:right;}
.ofertaeducativa .nav a.next .arrow { float:right;}
.ofertaeducativa #ajaxable_content { padding-top:32px; text-align:left;}