@font-face {
    font-family: 'osbold';
    src: url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
    src: url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'),
         url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'osbolder';
    src: url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.eot');
    src: url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'osregular';
    src: url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body { font:normal 12px 'osregular', arial; letter-spacing:0.5px; text-align:center; }

#content {
	margin:0 auto;
	
}
#pagecontent {
	margin:0 auto; width:1024px;
	background: url(../img/topBar.png) center top no-repeat;
	padding:64px 0 48px;
}

.twoCols { width:44%; float:left; }
.threeCols { width:30%; float:left; }
.three2Cols { width:60%; float:left; }
.fourCols { width:22%; float:left;}
.clearBoth { display:block; clear:both;}

.breadcrumbs { text-align:left; }
.breadcrumbs a { color:#8A9414; text-decoration:none; }
.breadcrumbs a:hover { font-weight:bold;	 }
.breadcrumbs span { padding:0 4px; color:#8A9414; }

.textContent { font-size:1.2em; color:#444; }
.textContent ul li { list-style-type:none; position:relative; }
.textContent ul li:before { content:'+'; font-weight:bold; position:absolute; top:0; left:-20px; color:#EE4123;}

#primary { padding-top:135px; }

