html, body {

	text-align:center; margin:0; padding:0; height:100%; text-decoration: none;

}

/*******************Estilos para catálogo de productos*******************/

a:-webkit-any-link{
 text-decoration: none;
}

.product {
margin-top: 200px;
}

ul.products > .product {
margin-top: 0px;
}

.product > a > h3{
 text-decoration: none!important;
 text-transform: uppercase;
 color: #9A9A9A;
}

ul.products{
width: 700px;
margin: auto;
margin-top: 200px;
}

ul.products > .product{
float:left;
margin-right: 25px;
margin-bottom: 25px;
border: 2px solid #CCCCCC;
padding: 10px;
}

span.amount{
 color: #FF3F1B;
 font-size: 16px;
 font-weight: bold;

}

.add_to_cart_button{
 background-color: #FF3F1B;
 color: #FFF;
 text-decoration: none;
 border-radius: 41px;
 padding: 3px;
 float: right;
}
/**************Estilos para detalle producto *******************/

.product > .images {
float: left;
text-align: left;
}

div.product{
width: 60%;
margin: 0 auto;
margin-top: 200px;
}

p.price{
 padding-top: 93px;
}

p.price > span.amount{
 font-size: 30px;
 font-weight:normal;
}

.qty{
width: 40px;
}

h1.entry-title{
font-weight:bold;
font-size: 35px;
color: #FF3F1B;
}

/*****************Estilos para carrito***************************/

h1.entry-title{
 margin-top: 90px;
}

table.shop_table{
    width: 63%!important;
    margin: 0 auto!important;
    border: none!important;
}

td.product-name{
    text-transform: uppercase;
    color: #000;
}

.product-name, .product-price, .product-quantity, .product-subtotal, .product-thumbnail{
   text-transform: uppercase;
   color: #FF3F1B;
}

td.product-price > span.amount, td.product-subtotal > span.amount{
   color: #000;
}

div.coupon{
 float: right!important;
}

#coupon_code{
 margin-right: 20px;
 width: 110px;
}

.woocommerce input.button {
    border-radius: 10px;
    background-color: #FF3F1B;
    color: #FFF;
}

.cart_totals > h2 {
   display:none;
}

.wc-proceed-to-checkout{
margin-left: -54%;
margin-top: 16px;
border-radius:10px;
}

.checkout-button{
background-color: #FF3F1B!important;
border-radius:10px!important;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
float:right;
width:30%;
}

/************Estilos para checkout*************/

.woocommerce-checkout{
width: 60%;
margin: 0 auto;
}

.input-text, .country_select, .state_select {
border-radius: 7px;
}

.woocommerce-checkout #payment {
    background: none;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/*

@media all and (max-width: 700px) {

	#header {}

	#main {}

}



@media all and (min-width: 700px) {

	#header {

		margin:0 auto; width:1280px; text-align:left;

		border:1px solid gray;

	}

	#main {

		margin:0 auto; width:1280px; text-align:left;

		border:1px solid gray;

	}

	

}*/