.conocenos {
	
}
.conocenos .content {
	clear:both; float:left; width:676px; min-height:300px;
}
.conocenos ul.submenu { float:right; display:block; margin:0; padding:0; list-style-type:none; width:247px; text-align:left; margin-bottom:100px; }
.conocenos ul.submenu  li { clear:left; display:block; margin:0; padding:4px 0; list-style-type:none; }
.conocenos ul.submenu  li a { text-decoration:none; color:#333; }
.conocenos ul.submenu  li a:hover { font-family:'ossemibold', arial black; }
.conocenos ul.submenu  li a.active { font-family:'ossemibold', arial black; background:url(../img/menu_right_arrow_red.png) 4px center no-repeat; padding-left:18px; }
.conocenos ul.submenu  li a span {  }
.conocenos ul.submenu .title { color:#EE4123; text-transform:uppercase; padding-bottom:8px; font-size:1.5em; float:left; border-bottom: 1px solid #EE4123; margin-bottom: 16px; font-family:'ossemibold', arial black; padding-right:48px; }


/* titulo */

.conocenos_title { color:#EE4123; font-family:'ossemibold', arial black; font-size:2.7em; text-transform:uppercase; float:left; padding:70px 0 8px 0; margin-bottom:8px; text-align:left;}
.conocenos_content { color:#888; font-size:1.8em; padding:16px 0; border-bottom:1px solid #888; clear: left; text-align: left; float: left; width: 670px; margin-bottom:24px; } 

.conocenos  .content h2 {
	font-size: 1.2em;
	color: #EE4123;
	border-bottom: 1px solid #EE4123;
	padding-bottom: 4px;
}
.conocenos   .content a.link { display:inline-block; height:36px; background: url(../img/banner_1/btn_conoce.png) left no-repeat; line-height:36px; padding-left:16px; position:relative; font-size:14px; text-decoration:none; color:white; }
.conocenos   .content a.link:after { content: url(../img/arrow-left.png); padding: 11px 0; padding-top: 3px\9; height:36px; width:38px; display:block; position:absolute; top:0; right:-38px; text-align:center; background: right top no-repeat; background-image:inherit; }
.conocenos   .content a.link:hover { background-image: url(../img/banner_3/btn_conoce.png); }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	a.link:after { padding-top: 11px !important; }
}
/**** NIVEL 0 ****/

.conocenos ul.conocenos_mainmenu {
	margin:0 auto; padding:0; list-style-type:none; display:block; width:1024px; clear:both;
}
.conocenos ul.conocenos_mainmenu li { background:#eee;
	margin:0; padding:0; list-style-type:none; display:block; position:relative;
}
.conocenos ul.conocenos_mainmenu li a {
	display:block; width:100%; height:100%;
	
}
.conocenos ul.conocenos_mainmenu li a span {
	position:absolute; left:0; right:0; bottom:0; display:block;
	z-index:1; text-align:center; padding:1em; color:#fff; text-transform:uppercase; font-size:1.5em; text-shadow: 0px 0px 5px rgba(128, 128, 128, 0.9);
}

.conocenos ul.conocenos_mainmenu li a img {
	display:block; position:absolute;left:0; top:0; z-index:0;
}

.conocenos ul.conocenos_mainmenu li:nth-of-type(6n+1){
	width:506px; height:165px; float:left; margin: 0 10px 10px 0;
}
.conocenos ul.conocenos_mainmenu li:nth-of-type(6n+2){
	width:248px; height:300px; float:right; margin: 0 0 10px 0;
}
.conocenos ul.conocenos_mainmenu li:nth-of-type(6n+3){
	width:248px; height:300px; float:right; margin: 0 10px 10px 0;
}
.conocenos ul.conocenos_mainmenu li:nth-of-type(6n+4),
.conocenos ul.conocenos_mainmenu li:nth-of-type(6n+5){
	width:248px; height:300px; float:left; margin: 0 10px 10px 0;
}
.conocenos ul.conocenos_mainmenu li:nth-of-type(6n+6){
	width:506px; height:165px; float:right;
}

/**** NIVEL 1 ****/
.conocenos .nav { height:32px; border-bottom:1px solid #8A9414; }
.conocenos .nav a { float:left; text-decoration:none; color:#333; font-family:'ossemibold', arial black; text-transform:uppercase; }
.conocenos .nav a span.arrow { color:#8A9414; padding:0 4px; }
.conocenos .nav a span.label { font-weight:normal;}
.conocenos .nav a span.title { } 	
.conocenos .nivel2 .content_menu { margin:0; padding:0; list-style-type:none; display:block; padding:32px 0; }
.conocenos .nivel2 .content_menu li { margin:0; padding:0; list-style-type:none; display:block; float:left; margin-bottom:10px; }
.conocenos .nivel2 .content_menu li:nth-of-type(2n+1) { margin-right:10px; }
.conocenos .nivel2 .content_menu li a { display:block; position:relative; width:332px; height:291px; text-decoration:none; text-transform:uppercase; font-size:1.5em; color:#333; background:#eee; }
.conocenos .nivel2 .content_menu li a img.image { display:block; width:333px; position:absolute; z-index:0; width:100%; height:100%;}
.conocenos .nivel2 .content_menu li a img.icon { position:absolute; width:64px; height:64px; left:134px; top:118px; z-index:1; }
.conocenos .nivel2 .content_menu li a span.title { position:relative; display:table-cell; width:333px; height:126px; top:165px; z-index:2; vertical-align:middle; background:url(../img/tabN2.png) center top no-repeat; }

/**** NIVEL 2 ****/
.conocenos .nav a.prev { font-weight:normal; }
.conocenos .nav a.next { font-weight:normal; float:right;}
.conocenos .nav a.next .arrow { float:right;}
.conocenos #ajaxable_content { padding-top:32px; text-align:left;}




.subTitle { color:#EE4123; font-size:2.2em; text-align:left; padding-bottom:32px;}
.content_content { text-align:left; }

.testimoniales { padding-bottom: 24px; width:330px; }
.testimoniales blockquote { position:relative; margin-right:20px; margin-left:20px; width: 250px; }
.testimoniales blockquote:before { content:'"'; color:#EE4123; position:absolute; left:-20px;  font-weight: bold; }
.testimoniales blockquote:after { content:'"'; color:#EE4123; position:relative; left:20px;	 font-weight: bold; }
.testimoniales span { display:block; text-transform:uppercase; font-size:0.8em; color:#888;  margin-right:0; margin-left:40px;  }

.conocenos  h4	 { color:#EE4123; font-weight:normal; }
.conocenos .threeCols, .conocenos .three2Cols { margin-right:12px; padding-top: 16px; }
.conocenos  .three2Cols  .twoCols { margin-right:12px;}


.conocenos .tableinblock h3 { margin-top:0; }
.conocenos .tableinblock 8 { margin-bottom:20px !imorte; }
.conocenos .tableinblock td { padding-bottom:30px; }
