.contacto {
	
}
.contacto .content {
	clear:both; float:left; width:676px; min-height:300px; text-align:left; 
	border-top:1px solid #888; padding-top:24px; 
}
.contacto .content .subtitle {
color: #EE4123;
padding-bottom: 8px;
font-size: 28px;
margin-bottom: 16px;
font-weight: normal;
padding-right: 48px;; 
}
.contacto ul.submenu { float:right; display:block; margin:0; padding:0; list-style-type:none; width:247px; text-align:left; margin-bottom:100px; border-top: 1px solid #EE4123; padding-top:24px; }
.contacto ul.submenu  li { clear:left; display:block; margin:0; padding:4px 0; list-style-type:none; }
.contacto ul.submenu  li a { text-decoration:none; color:#333; }
.contacto ul.submenu  li a:hover { font-family:'ossemibold', arial black; }
.contacto ul.submenu  li a.active { font-family:'ossemibold', arial black; }
.contacto ul.submenu  li a.active:before { content:'>'; color:#EE4123; }
.contacto ul.submenu  li a span {  }
.contacto ul.submenu .title { color:#EE4123; padding-bottom:8px; font-size:28px; float:left;  margin-bottom: 16px; font-family:'osregular', arial black; padding-right:48px; }


/* titulo */

.contacto_title { color:#EE4123; font-family:'ossemibold', arial black; font-size:2.7em; text-transform:uppercase; float:left; padding:70px 0 8px 0; margin-bottom:8px; text-align:left;}
.contacto_content { color:#888; font-size:1.8em; padding:16px 0; clear: left; text-align: left; float: left; width: 670px;} 




.subTitle { color:#EE4123; font-size:2.2em; text-align:left; padding-bottom:32px;}
.content_content { text-align:left; }

.testimoniales { padding-bottom: 24px; width:330px; }
.testimoniales blockquote { position:relative; margin-right:0; margin-left:40px; }
.testimoniales blockquote:before { content:'"'; color:#EE4123; position:absolute; left:-20px;  font-weight: bold; }
.testimoniales blockquote:after { content:'"'; color:#EE4123; position:relative; left:20px;	 font-weight: bold; }
.testimoniales span { display:block; text-transform:uppercase; font-size:0.8em; color:#888;  margin-right:0; margin-left:40px;  }

.contacto  h4	 { color:#EE4123; font-weight:normal; }
.contacto .threeCols, .contacto .three2Cols { margin-right:12px;}
.contacto  .three2Cols  .twoCols { margin-right:12px;}


/*** FORM ****/

.main_contact { float:left; }
.main_contact .main_contact_content {}
.main_contact .main_contact_content form { text-align:left; padding:32px 0; margin:0; }
.main_contact .main_contact_content form .field { position:relative; clear:all;}
.main_contact .main_contact_content form .field .error { color:red; position:absolute; left:140px; top:0; width:220px; display:none; }
.main_contact .main_contact_content form .field label { display:block; padding-bottom:8px; font-family:'osregular', arial black; }
.main_contact .main_contact_content form .field label.radio_lbl { display:block; padding-bottom:8px; font-family:'osregular', arial; font-weight:normal;}
.main_contact .main_contact_content form .field input,
.main_contact .main_contact_content form .field select,
.main_contact .main_contact_content form .field textarea {
	border:1px solid #888; padding:0; background:#ffffff; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; text-align:left; 
	display:block; padding: 8px; margin-bottom:16px; width:250px; resize: none;
}
.main_contact .main_contact_content form ._field_area  { overflow:hidden; }
.main_contact .main_contact_content form ._field_area .shadow {
 
	background:url('../../mobile/img/arrow_gray_down.png') right 18px center no-repeat !important;
	background-size: auto 10px !important;
}
.main_contact .main_contact_content form .field select{
	-webkit-appearance: none; position:absolute; bottom:0; left:0; border:0; background: transparent;
	width:350px\9; -webkit-appearance: none; -moz-appearance:none; appearance:none;
}
.main_contact .main_contact_content form .field select::-ms-expand {
    display: none;
}
.main_contact .main_contact_content form .field text {}
.main_contact .main_contact_content form ._field_phon_type {}
.main_contact .main_contact_content form ._field_phon_type input { float:left; width:auto; padding:0; }
.main_contact .main_contact_content form ._field_phon_type label { float:left; padding:0; margin-right:16px; }


.main_contact ._field_telefono #_ladaSelector { color:#333; position:absolute; right:-27px; top:34px; width:70px; height:32px; z-index:10; padding-top: 8px; }
.main_contact ._field_telefono #_ladaSelector  .current { cursor:pointer; width:70px; height:1em; }
.main_contact ._field_telefono #_ladaSelector  .current .ico { display:block; float:left; background:url(../img/flags14x10.png) left top no-repeat; width:14px; height:10px; }
.main_contact ._field_telefono #_ladaSelector  .current .title { display:block; float:left; text-align:left; margin-left:4px; font-size:.8em; background:url(../img/drop.png) left center no-repeat; height:1em; width:4em; padding: 0; line-height: 9px; }
.main_contact ._field_telefono #_ladaSelector  ul {
	display:none; margin:0; padding:0; list-style-type:none; width:200px; position:absolute; left:-140px; top:4px; background:#fff; overflow:hidden;
	-webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.main_contact ._field_telefono #_ladaSelector  ul li { display:block; margin:0; padding:0; list-style-type:none; clear:both; padding:0px 16px; height:24px; cursor:pointer; }
.main_contact ._field_telefono #_ladaSelector  ul li:hover { background:#EBEBEB; }
.main_contact ._field_telefono #_ladaSelector  ul li .title { display:block; float:left; text-align:left; margin-left:8px; position:relative;top:7px; font-size:.9em;}
.main_contact ._field_telefono #_ladaSelector  ul li .ico { display:block; float:left; background:url(../img/flags14x10.png) left top no-repeat; width:14px; height:10px;  position:relative;top:8px;}
.main_contact ._field_telefono #_ladaSelector  ul .mex .ico { background-position:left -0px; }
.main_contact ._field_telefono #_ladaSelector  ul .usa .ico { background-position:left -10px; }
.main_contact ._field_telefono #_ladaSelector  ul .esp .ico { background-position:left -20px; }
.main_contact ._field_telefono #_ladaSelector  ul .vzl .ico { background-position:left -30px; }
.main_contact ._field_telefono #_ladaSelector  ul .pru .ico { background-position:left -40px; }
.main_contact ._field_telefono #_ladaSelector  ul .col .ico { background-position:left -50px; }
.main_contact ._field_telefono #_ladaSelector  ul .arg .ico { background-position:left -60px; }
.main_contact ._field_telefono #_ladaSelector  ul .otr .ico { background-position:left -70px; }
.main_contact ._field_telefono #_ladaSelector  ul .otr { padding-bottom: 8px; }
.main_contact ._field_telefono #_ladaSelector  ul li input { float:left; height:24px; width:5em; background:#EBEBEB; line-height:0; text-align:center; margin-left:8px; position:relative;top:5px; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; margin-top: 6px; padding:0; }
.main_contact ._field_telefono #_ladaSelector  ul li:hover input { background:#FFF; }


.main_contact .submit { border:0; padding:0; background:#EE4123 url(../img/banner_3/btn_conoce.png) left center no-repeat; -webkit-border-radius: 1.5em; -moz-border-radius: 1.5em; border-radius: 1.5em; text-align:left; width:100%; overflow:hidden; margin:0 auto; }
.main_contact .submit input { border:0; padding:8px 16px; color:#fff; background:transparent url(../img/header/icon_boolean_status.png) center top no-repeat; cursor:pointer; font-family:'ossemibold', arial black; position:relative; text-align:center; width:100%; }
.main_contact .submit input.true { background-position: center center; }
.main_contact .submit input.false { background-position: center bottom; }
.main_contact .submit:hover { background-image: url(../img/banner_1/btn_conoce.png); }


/***** TELEFONOS *****/
	
.contacto .contact_contries { float:left; padding:32px 0 32px 116px; margin:0; }
.contacto .contact_contries .contry { }
.contacto .contact_contries .contry .title { font-family:'osbold', arial black; padding-bottom:0px; }
.contacto .contact_contries .contry .phone { padding:0 0 10px 20px; background:url(../img/contact/phone_f.png) left 3px no-repeat; }
.contacto .contact_contries .contry .email { padding:0 0 13px 0px;  }
.contacto .contact_contries .contry .address { padding:0 0 30px 20px; background:url(../img/contact/indicador.png) left 3px no-repeat; }
.contacto .contact_contries .contry.others { float:right; height:auto; }
.contacto .contact_contries .contry.internet { height:auto; }
.contacto .contact_contries .contry div:nth-of-type(14n+8),
.contacto .contact_contries .contry div:nth-of-type(14n+10),
.contacto .contact_contries .contry div:nth-of-type(14n+12),
.contacto .contact_contries .contry div:nth-of-type(14n+14) { padding-bottom:30px; }
.contacto ul.submenu .contact_social {width:312px; float:left;}
.contacto ul.submenu .contact_social a { display:inline-block; width:41px; height:22px; background:transparent center center no-repeat; overflow:hidden; text-indent:-300px; margin:0 4px;}
.contacto ul.submenu .contact_social a.facebook {background-image:url(../img/contact/facebook.png);}
.contacto ul.submenu .contact_social a.youtube {background-image:url(../img/contact/you_tube.png);}
.contacto ul.submenu .contact_social a.instagram {background-image:url(../img/contact/instagram.png);}
.contacto ul.submenu .contact_social a.twitter {background-image:url(../img/contact/twitter.png);}
.contacto ul.submenu .contact_social a:hover { 	-moz-opacity: 0.72;
	opacity: 0.72;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=72);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=72);
	filter:alpha(opacity=72);}