.cuerpodocente {
	
}
.cuerpodocente .content {
	clear:both; float:left; width:100%; text-align:left; color:#333;
}

/* titulo */

.cuerpodocente_title {
	color:#EE4123; font-family:'ossemibold', arial black; font-size:2.5em; text-transform:uppercase; float:left; padding:62px 0 8px 0; margin-bottom:32px; text-align:left; 

}

.cuerpodocente .subTitle {
	font-size: 1.5em; border-bottom: 1px solid #888; width: 700px; padding-bottom: 16px;  color:#888; }

ul.docentes { display:block; margin:0; padding:20px 0 0; list-style-type:none;}
ul.docentes li {display:inline; margin:0; padding:0; list-style-type:none; position:relative; }
ul.docentes li:nth-of-type(4n+1) { display:block; clear:both; }
ul.docentes li .data_preview { float:left; width:240px; text-align:center; padding:32px 0 0;}
ul.docentes li .data_preview .img { cursor:pointer; }
ul.docentes li .data_preview .img img { width:208px; height:250px; }
ul.docentes li .data_preview .name { font-size:1.5em; padding:16px 48px; position:relative; min-height: 72px; }
ul.docentes li .data_preview .name:before { content:''; display:block; width:50%; left:25%; bottom:0; position:absolute; border-top:1px solid #EE4123; }
ul.docentes li .data_preview .title { text-transform:uppercase; color:#aaa; padding:0px 48px; height: 64px; display:table-cell; vertical-align:middle; width: 241px; }
ul.docentes li .data_preview .countries { padding: 0 32px; }
ul.docentes li .data_preview .countries span { margin: 7px; }

ul.docentes li .data_content { position:absolute; display:none; width: 1024px; top: 500px; top: 500px\9;  background:#dedede; z-index: 1; padding-bottom: 16px;}
ul.docentes li .data_content .content_content { min-height: 470px; padding-bottom: 32px; clear:both; display:block; }
ul.docentes li .data_content .background { position:absolute; left:0; top:0; height:470px; z-index:-1;  background:#dedede; }
ul.docentes li .data_content .img { float:left; float:left; text-align:left; width:260px; padding:65px 0; background:url(../img/docente_lazo.png) 64px bottom no-repeat;}
ul.docentes li .data_content .img img { width:208px; height:250px; }
ul.docentes li .data_content .name { display:block; float:left; width:650px; padding:65px 0 12px; font-size:2em; }
ul.docentes li .data_content .title { display:block; float:left; width:650px; text-transform:uppercase; padding-bottom:16px; }
ul.docentes li .data_content .countries { display:inline-block; }
ul.docentes li .data_content .countries span { display:inline-block; margin-right:6px; }
ul.docentes li .data_content .description { display:block; float:left; width:720px; padding-bottom:16px;  }
ul.docentes li .data_content .link { }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	a.link:after { padding-top: 11px !important; }
}
ul.docentes li .data_content a.link { display:block; float:left; position:relative; left:260px; margin:0 auto; height:36px; background: url(../img/banner_3/btn_conoce.png) left no-repeat; line-height:36px; padding-left:16px; font-size:14px; text-decoration:none; color:white; clear: both;}
ul.docentes li .data_content a.link:after { content: url(../img/arrow-left.png); padding-top: 3px;  height:38px; width:32px; display:block; position:absolute; top:0; right:-32px; text-align:center; background: url(../img/banner_3/btn_conoce.png) right top no-repeat; }
ul.docentes li .data_content a.link:hover { background-image: url(../img/banner_1/btn_conoce.png);}
ul.docentes li .data_content a.link:hover:after { background-image: url(../img/banner_1/btn_conoce.png); }



ul.docentes li.hover .data_preview { padding-bottom:50px; position:relative; margin-bottom: 449px; }
ul.docentes li.hover .data_preview:before {
	content:''; display:block; position:absolute; top: 489px; left:111px; width:1px; height:1px; overflow:hidden; z-index:10;
	border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #dedede;
} 
ul.docentes li.hover .data_content { display:block !important; }


#docentes .twoCols { width:49%; }
#docentes .twoCols:nth-of-type(2n+2) { width:49%; float:right; }


.close { display:block; position:absolute; width:20px; top:40px; right:40px; height:20px; background:url(../img/cerrar.png) center center no-repeat; cursor:pointer; }