#header {
	height:134px; border-bottom:1px solid #EE4123;
	position: fixed; top: 0; z-index: 51; background: white; width: 100%; overflow:visible !important;
}
#header h1 {
	text-align:left;
	display:block; margin:0 auto; padding:0; width:266px; height:81px; position:relative; top:39px; left:-374px; z-index:99;
	
}
#header h1 a {
	background:url(../img/header/logo_gastronomica.png) left center no-repeat; background-size:100% 100%;
	display:block; margin:0; padding:0; width:410px; height:81px; position:relative; 
	font-size:1px; text-indent:-1700px; top: 4px;
}	
#header h1 a.min { background:url(../img/header/logo_gastronomica_min.png) left center no-repeat; background-size:100% 100%; }
#header p { display:none; }


#header.mini h1 { zoom: 0.6;  }



#header .fast_contact {width:250px; margin:0 auto; position:relative; z-index:1; }
#header .fast_contact .fast_contact_content {
	width:250px; color:white; display:none;
	position:fixed; top:180px; z-index:49; background:#EE4123;
	-webkit-border-radius: 1.5em; -moz-border-radius: 1.5em; border-radius: 1.5em; }
#header .fast_contact form {margin:0; padding:14px; overflow:hidden; height:79px;}
#header .fast_contact form.down .error { display:none !important; }

#header .fast_contact .fast_contact_title { font-size:1.5em; padding-top:14px;}
#header .fast_contact .field {
	display:block; background:#fff; position:relative;
	-webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; 
	margin-bottom:14px; padding:0;
}
#header .fast_contact .field label { display:none; }
#header .fast_contact .field input { display:block; width:100%; height:3em; border:0; background:transparent; line-height:3em; padding:0 8px; }
#header .fast_contact .field_name {}
#header .fast_contact .field_email {}
#header .fast_contact .field_telefono { position:relative; }
#header .fast_contact .field_phon_type { background:transparent; height:1em; color:#fff; }
#header .fast_contact .field_phon_type input { width:auto; height:auto; float:left; }
#header .fast_contact .field_phon_type label { display:block; float:left; }
#header .fast_contact .field_area { text-align:left; }
#header .fast_contact .field_area select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
	background:url('../../mobile/img/arrow_gray_down.png') left 190px center no-repeat !important;
	background-size: auto 10px !important;
	display:block; border:0; width:100%; background:transparent; padding: 11px 8px;
}
#header .fast_contact .field_area select::-ms-expand {
    display: none;
}
#header .fast_contact .field_questions { text-align:left; }
#header .fast_contact .field_questions textarea {
font: normal normal normal 13.3333px/normal Arial;
display:block; width:100%; resize: none;	padding:8px; border:0; background:transparent; overflow: hidden; }
#header .fast_contact .submit { border:0; padding:0; background:#ffb48c; -webkit-border-radius: 1.5em; -moz-border-radius: 1.5em; border-radius: 1.5em; text-align:left; width:180px; overflow:hidden; margin:0 auto; height:34px; }
#header .fast_contact .submit input { border:0; padding:8px 16px; color:#fff; background:#ff6d0d url(../img/header/icon_boolean_status.png) center top no-repeat; cursor:pointer; font-family:'ossemibold', arial black; position:relative; text-align:center; width:100%; height:100%; }
#header .fast_contact .submit input:hover { background-color:#f35700; }
#header .fast_contact .submit input.true { background-position: center center; }
#header .fast_contact .submit input.false { background-position: center bottom; }
#header .fast_contact .fast_contact_dropdown {padding-bottom:14px; cursor:pointer; overflow: hidden; text-indent: -1000px; background: url(../img/arrow-down.png) center center no-repeat; }
#header .fast_contact .fast_contact_dropdown.up { -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg); -o-transform: rotate(180deg); writing-mode: lr-tb; position:relative; top:-10px;
}
#header .fast_contact .field_telefono #ladaSelector { color:#333; position:absolute; left:180px; top:12px; width:70px; height:32px; z-index:10; }
#header .fast_contact .field_telefono #ladaSelector  .current { cursor:pointer; width:70px; height:1em; }
#header .fast_contact .field_telefono #ladaSelector  .current .ico { display:block; float:left; background:url(../img/flags14x10.png) left top no-repeat; width:14px; height:10px; }
#header .fast_contact .field_telefono #ladaSelector  .current .title { display:block; float:left; text-align:left; margin-left:4px; font-size:.8em; background:url(../img/drop.png) left center no-repeat; height:1em; width:4em; line-height: 9px;}
#header .fast_contact .field_telefono #ladaSelector  ul {
	display:none; margin:0; padding:0; list-style-type:none; width:200px; position:absolute; left:-140px; top:4px; background:#fff; overflow:hidden;
	-webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
#header .fast_contact .field_telefono #ladaSelector  ul li { display:block; margin:0; padding:0; list-style-type:none; clear:both; padding:0px 16px; height:24px; cursor:pointer; }
#header .fast_contact .field_telefono #ladaSelector  ul li:hover { background:#EBEBEB; }
#header .fast_contact .field_telefono #ladaSelector  ul li .title { display:block; float:left; text-align:left; margin-left:8px; position:relative;top:7px; font-size:.9em;}
#header .fast_contact .field_telefono #ladaSelector  ul li .ico { display:block; float:left; background:url(../img/flags14x10.png) left top no-repeat; width:14px; height:10px;  position:relative;top:8px;}
#header .fast_contact .field_telefono #ladaSelector  ul .mex .ico { background-position:left -0px; }
#header .fast_contact .field_telefono #ladaSelector  ul .usa .ico { background-position:left -10px; }
#header .fast_contact .field_telefono #ladaSelector  ul .esp .ico { background-position:left -20px; }
#header .fast_contact .field_telefono #ladaSelector  ul .vzl .ico { background-position:left -30px; }
#header .fast_contact .field_telefono #ladaSelector  ul .pru .ico { background-position:left -40px; }
#header .fast_contact .field_telefono #ladaSelector  ul .col .ico { background-position:left -50px; }
#header .fast_contact .field_telefono #ladaSelector  ul .arg .ico { background-position:left -60px; }
#header .fast_contact .field_telefono #ladaSelector  ul .otr .ico { background-position:left -70px; }
#header .fast_contact .field_telefono #ladaSelector  ul .otr { padding-bottom: 8px; }
#header .fast_contact .field_telefono #ladaSelector  ul li input { float:left; height:1.1em; width:5em; background:#EBEBEB; line-height:0; text-align:center; margin-left:8px; position:relative;top:5px; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; margin-top: 6px; }
#header .fast_contact .field_telefono #ladaSelector  ul li:hover input { background:#FFF; }

#header .fast_contact .field .error { display:none; position:absolute; right:229px; top:0; background:#fff; color:red; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; padding:8px; border:1px solid #EE4123; white-space: nowrap; }
#header .fast_contact .field .error:before { content:''; position:absolute; right:-7px; top:7px; width:0; height:0; overflow:hidden; border-top:8px solid transparent; border-bottom:8px solid transparent; border-left:8px solid #fff; }

#header .fast_contact .fast_contact_menu_button { cursor:pointer; }
#header .fast_contact .fast_contact_menu_button span { display:block; text-align:left; height: 68px; text-align:left; line-height:68px; font-size:1em; text-transform:uppercase; padding:0 32px 0 16px; background: transparent url(../img/arrow-down.png) right center no-repeat; float:left; }

#main { padding-top:0px; }



.width70 { width:70px; }
.width75 { width:75px; }
.width80 { width:80px; }
.width85 { width:85px; }
.width90 { width:90px; }
.width95 { width:95px; }
.width100 { width:100px; }
.width105 { width:105px; }
.width110 { width:110px; }
.width115 { width:115px; }
.width120 { width:120px; }
.width125 { width:125px; }
.width130 { width:130px; }
.width135 { width:135px; }