#header .fast_contact .field_area select.ieFix {
	background: url('../../mobile/img/arrow_gray_down.png') left 190px center no-repeat !important \9;
	width: 252px \9;
}
#header .fast_contact .field.ieFix {
	overflow: hidden \9;
}

@-moz-document url-prefix(){
	#header .fast_contact .field_area select.ieFix {
		background: url('../../mobile/img/arrow_gray_down.png') left 190px center no-repeat !important;
		width: 252px;
	}
	#header .fast_contact .field.ieFix {
		overflow: hidden;
	}
	#header .fast_contact .field_questions textarea {
		font: normal normal normal 11px/normal Lucida Grande;
	}
}