
	
	.main_menu {position: absolute; left:0;top:0; width:100%; height: 100%; z-index: 2; overflow:visible !important;}
	.main_menu .menu_topbar { height:24px; background:#EE4123; color:white; position:relative; }
	.main_menu .menu_topbar_container { width: 1024px; margin: 0 auto; }
	.main_menu .menu_topbar_container .telephon { float:left; width:710px; text-align:right; line-height:2em; }
	.main_menu .menu_topbar_container .telephon  span.phon { display:block; margin-left:12px; float:right; }
	.main_menu .menu_topbar_container .telephon  span.phon:nth-of-type(2) { padding-left:16px; background:url(../img/header/phone.png) left center no-repeat; }
	.main_menu .menu_topbar_container .menu_campus_virtual { float: right; height:50px; background: url(../img/header/label.png) right top no-repeat; margin-right:28px; }
	.main_menu .menu_topbar_container .menu_campus_virtual a {
		display:block; padding: 0 50px;
		background: url(../img/header/eye.png) left center no-repeat;
		color:#fff; text-decoration:none; text-align:center; font-size:1.2em; text-transform:capitalize; line-height:1.5em;
	}

	#main_menu {clear:both; width:1024px; margin:0 auto; padding-top:36px; position:relative; z-index:50; left:-8px;font-size:12px; line-height: initial; }

	ul.level_0 li.clearboth; { display:block !important; clear:both !important;}
	ul.level_0 { display:block; float:right; margin:0; padding:1px; list-style-type:none; }
	ul.level_0 li { display:block; list-style-type:none; float:left; }
	ul.level_0 li a { display:block; text-transform:uppercase; text-decoration:none; color:#EE4123; padding-bottom:14px; margin-bottom:0px; border-bottom:1px solid transparent; margin-right:16px; }
	ul.level_0 li a:hover { border-bottom:1px solid #EE4123; }
	ul.level_0 li a span { display: table-cell; height:32px; vertical-align: bottom; text-align:left; line-height:15px; }
	ul.level_0 li .first {}
	ul.level_0 li .first a {}
	ul.level_0 li .first a span {}
	ul.level_0 li .last {}
	ul.level_0 li .last a {}
	ul.level_0 li .last a span {}
	ul.level_0 li .active {}
	ul.level_0 li .active a {}
	ul.level_0 li .active a span {}
	ul.level_1 { display:none; position:absolute; left:8px; margin:0; padding:1px; list-style-type:none; width:100%; background:rgba(180,180,180,0.95); padding-bottom: 12px;}
	ul.level_1 li { display:block; list-style-type:none; float:left; width:240px; height:100%;  padding-left: 12px; }
	ul.level_1 li a { border:0; display:block; text-transform:uppercase; text-decoration:none; padding-top:20px; color:#fff; padding-bottom: 6px; float:left; font-family:'ossemibold', arial black; font-size:1.1em; padding-right:18px; margin-right:0; }
	ul.level_1 li a:hover { border:0; text-decoration:underline; }
	ul.level_1 li a span { display:block; vertical-align: top; text-align:left; min-width:0; max-width:none; height:auto; padding-right: 18px; background:url(../img/arrow-left.png) right 1px no-repeat; }
	ul.level_1 li .first {}
	ul.level_1 li .first a {}
	ul.level_1 li .first a span {}
	ul.level_1 li .last {}
	ul.level_1 li .last a {}
	ul.level_1 li .last a span {}
	ul.level_1 li .active {}
	ul.level_1 li .active a {}
	ul.level_1 li .active a span {}
	ul.level_2 { display:block; clear: both; margin:0; padding:0; list-style-type:none; border-right: 1px solid rgba(255,255,255,0.5); padding-right:10px; margin-right:10px; }
	
	ul.level_2 li { margin:0; padding:0; float:none; }
	ul.level_2 li a { display:block; text-transform:none; text-decoration:none; padding:3px 0px; clear:both; font-family:'ossemibold', arial black; font-size:1em; font-weight:normal; width: 185px; }
	ul.level_2 li a:hover { }
	ul.level_2 li a span { display:block; padding:0; background:transparent; font-family:'osregular', arial;  }
	ul.level_2 li .first {}
	ul.level_2 li .first a {}
	ul.level_2 li .first a span {}
	ul.level_2 li .last {}
	ul.level_2 li .last a {}
	ul.level_2 li .last a span {}
	ul.level_2 li .active {}
	ul.level_2 li .active a {}
	ul.level_2 li .active a span {}
	ul.level_3 { display:none; }
	
	#main_menu .clearBoth { clear:both; font-size:1px; height:0; line-height:0; margin:0; padding:0; }
	li.noChildren ul { display:none !important;}
	
	li.menu1ToMenu2 ul  { padding:16px; }
	li.menu1ToMenu2 li { margin:0; padding:0; float:left; }
	li.menu1ToMenu2 li a { display:block; text-transform:none; text-decoration:none; padding:3px 10px 3px; width:auto; clear:both; font-family:'ossemibold', arial black; font-size:1em; font-weight:normal; width: 219px; border-right: 1px solid rgba(255,255,255,0.5); padding-right:10px; margin-right:10px; }
	li.menu1ToMenu2 li a:hover { display:block; text-transform:none; text-decoration:none; padding:3px 10px 3px; width:auto; clear:both; font-family:'ossemibold', arial black; font-size:1em; font-weight:normal; width: 219px; border-right: 1px solid rgba(255,255,255,0.5); padding-right:10px; margin-right:10px; }
	li.menu1ToMenu2 li a span { display:block; padding:0; background:transparent;  font-family:'osregular', arial;  }
	li.menu1ToMenu2 li a:hover span { display:block; padding:0; background:transparent;  font-family:'osregular', arial;  }
