.ofertaeducativa {
	
}
.ofertaeducativa .content {
	clear:both; float:left; width:676px; /*min-height:300px;*/
}
.ofertaeducativa ul.submenu { float:right; display:block; margin:0; padding:0; list-style-type:none; width:247px; text-align:left; margin-bottom:100px; }
.ofertaeducativa ul.submenu  li { clear:left; display:block; margin:0; padding:4px 0; list-style-type:none; }
.ofertaeducativa ul.submenu  li a { text-decoration:none; color:#333; display:block; }
.ofertaeducativa ul.submenu  li a:hover { font-family:'ossemibold', arial black; }
.ofertaeducativa ul.submenu  li a.active { font-family:'ossemibold', arial black; background:url(../img/menu_right_arrow_red.png) 4px center no-repeat; padding-left:18px; }
.ofertaeducativa ul.submenu  li a span {  }
.ofertaeducativa ul.submenu .title { color:#EE4123; text-transform:uppercase; padding-bottom:8px; font-size:1.5em; float:left; border-bottom: 1px solid #EE4123; margin-bottom: 16px; font-family:'ossemibold', arial black; padding-right:48px; }


/* titulo */

.ofertaeducativa_title { color:#EE4123; font-size:27px; text-transform:uppercase; float:left; padding:110px 265px 24px 0; margin-bottom:20px; text-align:left; line-height: 35px; }
.ofertaeducativa_title b { font-size: 37px !important; font-family: 'osbold' !important; letter-spacing: 2px; }
.ofertaeducativa_title.borderBottom { padding:86px 0 24px 0; margin-bottom:48px; border-bottom: 1px solid #EE4123;  }
.ofertaeducativa_title .curso { background: url(../img/icon_curso.png) left top no-repeat; background-size:82px; padding:0 0 0 92px; height:82px; display:table-cell; vertical-align:middle; }
.ofertaeducativa_title .carrera { background: url(../img/icon_carrera.png) left top no-repeat; background-size:82px; padding:0 0 0 92px; height:82px; display:table-cell; vertical-align:middle;  }
.ofertaeducativa_title .diplomado { background: url(../img/icon_diplomado.png) left top no-repeat; background-size:82px; padding:0 0 0 92px; height:82px; display:table-cell; vertical-align:middle;  }

/**** NIVEL 0 ****/

.ofertaeducativa ul.ofertaeducativa_mainmenu {
	margin:0 auto; padding:0; list-style-type:none; display:block; width:1024px; clear:both; position:relative;
}
.ofertaeducativa ul.ofertaeducativa_mainmenu li { background:#eee;
	margin:0; padding:0; list-style-type:none; display:block; position:relative;
}
.ofertaeducativa ul.ofertaeducativa_mainmenu li a {
	display:block; width:100%; height:100%; text-decoration:none;
	
}
.ofertaeducativa ul.ofertaeducativa_mainmenu li a:hover img { -khtml-opacity: 0.2; opacity: 0.2; }
.ofertaeducativa ul.ofertaeducativa_mainmenu li a:hover b.link { display:block; }
.ofertaeducativa ul.ofertaeducativa_mainmenu li a span {
	position:absolute; left:0; right:0; bottom:0; display:block;
	z-index:1; text-align:center; padding:1em; color:#fff; text-transform:uppercase; font-size:1.5em; text-shadow: 0px 0px 5px rgba(128, 128, 128, 0.9);
}

.ofertaeducativa ul.ofertaeducativa_mainmenu li a img {
	display:block; position:absolute;left:0; top:0; z-index:0; border:0;
}

.ofertaeducativa ul.ofertaeducativa_mainmenu li:nth-of-type(6n+1){
	width:506px; height:165px; float:left; margin: 0 10px 10px 0;
}
.ofertaeducativa ul.ofertaeducativa_mainmenu li:nth-of-type(6n+2){
	width:248px; height:300px; float:right; margin: 0 0 10px 0;
}
.ofertaeducativa ul.ofertaeducativa_mainmenu li:nth-of-type(6n+3){
	width:248px; height:300px; float:right; margin: 0 10px 10px 0;
}
.ofertaeducativa ul.ofertaeducativa_mainmenu li:nth-of-type(6n+5),
.ofertaeducativa ul.ofertaeducativa_mainmenu li:nth-of-type(6n+6){
	width:248px; height:300px; float:left; margin: 0 10px 10px 0;
}
.ofertaeducativa ul.ofertaeducativa_mainmenu li:nth-of-type(6n+4){
	position:absolute; left: 518px; top: 310px; width:506px; height:165px;
}




.ofertaeducativa b.link { display:none; height:36px; width: 72px; background: url(../img/banner_1/btn_conoce.png) left no-repeat; line-height:36px; padding-left:16px; position:absolute; font-size:15px; text-decoration:none; color:white; left:50%; top:50%;  margin:-18px -55px; }
.ofertaeducativa b.link:after { content: url(../img/arrow-left.png); padding-top: 11px; padding-top: 3px\9; height:36px; width:38px; display:block; position:absolute; top:0; right:-38px; text-align:center; background: right top no-repeat; background-image:inherit; }
.ofertaeducativa b.link:hover { background-image: url(../img/banner_3/btn_conoce.png); }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	b.link:after { padding-top: 11px !important; }
}

/**** NIVEL 1 ****/
.ofertaeducativa .nav { height:32px; border-bottom:1px solid #8A9414; }
.ofertaeducativa .nav a { float:left; text-decoration:none; color:#333; position:relative; }
.ofertaeducativa .nav a span.arrow { color:#8A9414; padding:0 4px; }
.ofertaeducativa .nav a span.label { font-weight:normal;}
.ofertaeducativa .nav a span.title { } 	

.ofertaeducativa .nivel2 .content_menu { margin:0; padding:0; list-style-type:none; display:block; padding:74px 0 32px; background: url(../img/icon_descrption.png) center top no-repeat; }
.ofertaeducativa .nivel2 .content_menu li { margin:0; padding:0; list-style-type:none; display:block; float:left; margin-bottom:100px; }
.ofertaeducativa .nivel2 .content_menu li:nth-of-type(2n+1) { clear:both; }
.ofertaeducativa .nivel2 .content_menu li:nth-of-type(2n+2) { float:right; }
.ofertaeducativa .nivel2 .content_menu li a { display:block; position:relative; width:324px; height:270px; text-decoration:none; font-size:1.2em; color:#333; text-align:right; border-bottom:2px solid #EE4123; }
.ofertaeducativa .nivel2 .content_menu li a img.image { display:block; width:333px; position:absolute; z-index:0; width:100%; height:100%;}
.ofertaeducativa .nivel2 .content_menu li a img.icon { position:absolute; width:64px; height:64px; left: 20px; top: 20px; z-index:1; }
.ofertaeducativa .nivel2 .content_menu li a span.title { position:relative; display:table-cell; width: 234px; height: 102px; z-index:2; vertical-align:middle; padding: 0 24px 0 112px; }
.ofertaeducativa .nivel2 .content_menu li a:hover span,	
.ofertaeducativa .nivel2 .content_menu li a:hover img {  -khtml-opacity: 0.2; opacity: 0.2;  } 	
.ofertaeducativa .nivel2 .content_menu li a:hover b.link { display:block; } 
/**** NIVEL 2 ****/
.ofertaeducativa .nav a.prev { font-weight:normal; }
.ofertaeducativa .nav a.next { font-weight:normal; float:right;}
.ofertaeducativa .nav a.next .arrow { float:right;}
.ofertaeducativa #ajaxable_content { padding-top:32px; text-align:left; }






.ofertaeducativa #ajaxable_content img { margin-bottom:16px; }
.ofertaeducativa #ajaxable_content .duraccion { margin:16px 0; display:block; }
.ofertaeducativa #ajaxable_content .duraccion:before {
	content:''; display:inline-block; width:24px; height:24px; background:url(../img/icons24x24.png) left top;
	margin-right: 6px; position: relative; top: 6px;
}
.ofertaeducativa #ajaxable_content img { margin-bottom:16px; }
.ofertaeducativa #ajaxable_content .precio { margin:16px 0; display:block; }
.ofertaeducativa #ajaxable_content .precio:before {
	content:''; display:inline-block; width:24px; height:24px; background:url(../img/precio24x24.png) left top;
	margin-right: 6px; position: relative; top: 6px;
}
.ofertaeducativa #ajaxable_content .download { margin:16px 0; display:block; }
.ofertaeducativa #ajaxable_content .download a { text-decoration:none; font-family:'ossemibold', arial black; color:inhired; }
.ofertaeducativa #ajaxable_content .download:before {
	content:''; display:inline-block; width:24px; height:24px; background:url(../img/icons24x24.png) left center;
	margin-right: 6px; position: relative; top: 6px;
}

.ofertaeducativa #ajaxable_content ul { padding-bottom:16px; padding-left: 18px; }
.ofertaeducativa #ajaxable_content ul li { list-style-type:none; position:relative; margin-bottom:12px; }
.ofertaeducativa #ajaxable_content ul li:before { content:'+'; position:absolute; left:-18px; top:0; color: #EE4123; font-weight: bold; }
.ofertaeducativa #ajaxable_content h2 { font-size: 1.2em; color: #EE4123; border-bottom: 1px solid #EE4123; padding-bottom: 10px; text-transform:uppercase; }


.ofertaeducativa #ajaxable_content ol { padding-bottom:16px; counter-reset: item; }
.ofertaeducativa #ajaxable_content ol li { list-style-type:none; position:relative; margin-bottom:12px; position:relative; }
.ofertaeducativa #ajaxable_content ol li:before { position: absolute; display: block; left: -42px; width: 32px; top: 0; color: #EE4123; font-weight: bold; padding: 0 !important; text-align: right; }
.ofertaeducativa #ajaxable_content ol > li { counter-increment: item; color: #EE4123; font-weight:bold }
/*.ofertaeducativa #ajaxable_content ol > li:before { content: counters(item, ".")". ";  padding-right: 0.6em; }*/
.ofertaeducativa #ajaxable_content ol > li ol,
.ofertaeducativa #ajaxable_content ol > li ul { margin: 0; counter-reset: item2; padding:16px 0; margin-left:32px;}
.ofertaeducativa #ajaxable_content ol > li ol > li,
.ofertaeducativa #ajaxable_content ol > li ul > li { counter-increment: item2; color:#444 !important; font-weight:normal !important; }
.ofertaeducativa #ajaxable_content ol > li ol > li,
.ofertaeducativa #ajaxable_content ol > li ul > li:before { contentOriginal: counters(item, ".") "." counters(item2, ".") " "; content: counters(item2, ".") ". "; color:#444; display:block; }


.ofertaeducativa ul.docentes { padding-left: 0px; }
.ofertaeducativa ul.docentes li { clear:both; list-style-type:none; position:relative; margin-bottom: 8px; position:relative; left:16px; }
.ofertaeducativa ul.docentes li:before { }
.ofertaeducativa ul.docentes li:first-line { display:block; }
.ofertaeducativa ul.docentes > div { display:block; width:33%; text-align:center; padding:32px 0; float: left;}
.ofertaeducativa ul.docentes > div:nth-of-type(3n+1) { clear:both; }
.ofertaeducativa ul.docentes > div .image { position:relative; }
.ofertaeducativa ul.docentes > div .image img { width:208px; height:250px; }
.ofertaeducativa ul.docentes > div .image .over { width:100%; height:100%; position:absolute; left:0; top:0; background: rgba(255,255,255,0.5); display:none; line-height:340px; }
.ofertaeducativa ul.docentes > div .image:hover .over { display:block; }

.ofertaeducativa ul.docentes > div .image .over a {  position:absolute; left:92px; top:200px; display:block; height:36px; background: url(../img/banner_1/btn_conoce.png) left no-repeat; line-height:36px; padding-left:12px; float:left; font-size:15px; text-decoration:none; color:white; cursor:pointer; margin-left: -20px; }
.ofertaeducativa ul.docentes > div .image .over a:after { content: url(../img/arrow-left.png); padding-top: 8px; padding-top: 0px\9;  height:36px; width:32px; display:block; position:absolute; top:0; right:-32px; text-align:center; background: right top no-repeat; background-image:inherit;}
.ofertaeducativa ul.docentes > div .image .over a:hover { background-image: url(../img/banner_3/btn_conoce.png); }


.ofertaeducativa ul.docentes > div .name { font-size:1em; padding:16px 48px; position:relative; min-height: 58px; }
.ofertaeducativa ul.docentes > div .name:before { content:''; display:block; width:50%; left:25%; bottom:0; position:absolute; border-top:1px solid #EE4123; }
.ofertaeducativa ul.docentes > div .title { text-transform:uppercase; color:#aaa; padding:0px 48px; height: 64px; display:table-cell; vertical-align:middle; width: 241px; }
.ofertaeducativa ul.docentes > div .countries { padding: 0 12px; }
.ofertaeducativa ul.docentes > div .countries span { margin: 7px; }


.ofertaeducativa .gastromath { padding:8px; border:1px solid #889512; height:64px; }
.ofertaeducativa .gastromath * {float:left; font-family:'ossemibold', arial black; font-size:0.7em; color:#889512; text-transform:uppercase; }
.ofertaeducativa .gastromath .a,
.ofertaeducativa .gastromath .b   { padding:8px 0px 8px 54px; margin-left:4px; max-width:130px; background:url(../img/icon_curso_v.png) left center no-repeat; background-size:48px 48px;}
.ofertaeducativa .gastromath .c   { padding:8px 0px 8px 60px; margin-left:8px; max-width:130px; background:url(../img/icon_carrera.png) left center no-repeat; background-size:48px 48px; color:#EE4123; float:right; }
.ofertaeducativa .gastromath .a2 { padding:8px 0px 8px 54px; margin-left:4px; max-width:130px; background:url(../img/icon_carrera_v.png) left center no-repeat; background-size:48px 48px; }
.ofertaeducativa .gastromath .b2 { padding:8px 0px 8px 54px; margin-left:4px; max-width:130px; background:url(../img/icon_curso_v.png) left center no-repeat; background-size:48px 48px; }
.ofertaeducativa .gastromath .c2 { padding:8px 0px 8px 60px; margin-left:8px; max-width:130px; background:url(../img/icon_diplomado.png) left center no-repeat; background-size:48px 48px; color:#EE4123; float:right; }
.ofertaeducativa .gastromath .plus { font-size:4em; line-height:100%; overflow:hidden; height: 50px; }
.ofertaeducativa .gastromath .equal { font-size:4em; line-height:100%; overflow:hidden; height: 50px; }



.ofertaeducativa .integral { margin:16px 0 16px; padding-left:32px; position:relative; display:block; }
.ofertaeducativa .integral:before {
	content:''; display:inline-block; width:24px; height:24px; background:url(../img/icons24x24.png) left -24px;
	position: absolute; top: 0px; left:0px;
}
.ofertaeducativa .integral span {  }
.ofertaeducativa .integral .integral { counter-reset: item; }
.ofertaeducativa .integral .integral:before { display:none; padding:8px; }
.ofertaeducativa .integral .integral span { display:block; margin-bottom:8px; font-family:'ossemibold', arial black; }
.ofertaeducativa .integral .integral span.carrera { }
.ofertaeducativa .integral .integral span.curso {  }
.ofertaeducativa .integral .integral a { position:relative; display:inline-block; width:200px; counter-increment: item; margin:0 16px; }
.ofertaeducativa .integral .integral a:after { content:' >'; color:#EE4123; font-family:'ossemibold', arial black; }
.ofertaeducativa .integral .integral a:before { content: counters(item, ".")". "; color:#EE4123; position:absolute; top:0; left:-16px; font-family:'ossemibold', arial black;  }





ul.docentes { display:block; margin:0; padding:0px 0 0; list-style-type:none; }
ul.docentes li {display:inline; margin:0 0 0 0; margin-bottom:0 !important; padding:0; list-style-type:none; position:relative; left:0 !important; }
ul.docentes li:nth-of-type(3n+1) { display:block; clear:both; }
ul.docentes li .data_preview { float:left; width:230px; text-align:center; padding:0 0 0; position:relative; }
ul.docentes li .data_preview .img { cursor:pointer; }
ul.docentes li .data_preview .img img { width:208px; height:250px; }
ul.docentes li .data_preview .name { font-size:1.5em; padding:16px 16px; position:relative; min-height: 72px; }
ul.docentes li .data_preview .name:before { content:''; display:block; width:50%; left:25%; bottom:0; position:absolute; border-top:1px solid #EE4123; }
ul.docentes li .data_preview .title { text-transform:uppercase; color:#aaa; padding:0px 48px; height: 64px; display:table-cell; vertical-align:middle; width: 241px; }
ul.docentes li .data_preview .countries { padding: 0 32px; }
ul.docentes li .data_preview .countries span { margin: 7px; }

ul.docentes li .data_content { position:absolute; display:none; width: 1024px; top: 468px; top: 468px\9;  background:#dedede; z-index: 1; padding-bottom: 16px;}
ul.docentes li .data_content .content_content { min-height: 430px; padding-bottom: 32px; clear:both; display:block; text-align:left; }
ul.docentes li .data_content .background { position:absolute; left:0; top:0; height:470px; z-index:-1;  background:#dedede; }
ul.docentes li .data_content .img { float:left; float:left; text-align:left; width:260px; padding:65px 0; background:url(../img/docente_lazo.png) 64px bottom no-repeat;}
ul.docentes li .data_content .img img { width:208px; height:250px; }
ul.docentes li .data_content .name { display:block; float:left; width:650px; padding:65px 0 12px; font-size:2em; }
ul.docentes li .data_content .title { display:block; float:left; width:650px; text-transform:uppercase; padding-bottom:16px; }
ul.docentes li .data_content .countries { display:inline-block; }
ul.docentes li .data_content .countries span { display:inline-block; margin-right:6px; }
ul.docentes li .data_content .description { display:block; float:left; width:720px; padding-bottom:16px;  }
ul.docentes li .data_content .link { }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	a.link:after { padding-top: 11px !important; }
}
ul.docentes li .data_content a.link { display:block; float:left; position:relative; left:260px; margin:0 auto; height:36px; background: url(../img/banner_3/btn_conoce.png) left no-repeat; line-height:36px; padding-left:16px; font-size:14px; text-decoration:none; color:white; clear: both;}
ul.docentes li .data_content a.link:after { content: url(../img/arrow-left.png); padding-top: 11px; padding-top: 3px\9; height:38px; width:32px; display:block; position:absolute; top:0; right:-32px; text-align:center; background: url(../img/banner_3/btn_conoce.png) right top no-repeat; }
ul.docentes li .data_content a.link:hover { background-image: url(../img/banner_1/btn_conoce.png);}
ul.docentes li .data_content a.link:hover:after { background-image: url(../img/banner_1/btn_conoce.png); }



ul.docentes li.hover .data_preview { padding-bottom:50px; margin-bottom: 449px; }
ul.docentes li.hover .data_preview:before {
	content:''; display:block; position:absolute; top: 457px; left:105px; width:1px; height:1px; overflow:hidden; z-index:10;
	border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #dedede;
} 
ul.docentes li.hover .data_content { display:block !important; }


ul.docentes .twoCols { width:49%; }
ul.docentes .twoCols:nth-of-type(2n+2) { width:49%; float:right; }

.close { display:block; position:absolute; width:20px; top:40px; right:40px; height:20px; background:url(../img/cerrar.png) center center no-repeat; cursor:pointer; }
.content_footer { padding-top:48px; text-align:left; width: 676px; }