@font-face {
    font-family: 'osbold';
    src: url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
    src: url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'),
         url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ossemibold';
    src: url('../../css/fonts/opensans_semibold_macroman/OpenSans-Semibold.eot');
    src: url('../../css/fonts/opensans_semibold_macroman/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../../css/fonts/opensans_semibold_macroman/OpenSans-Semibold.woff') format('woff'),
         url('../../css/fonts/opensans_semibold_macroman/OpenSans-Semibold.ttf') format('truetype'),
         url('../../css/fonts/opensans_semibold_macroman/OpenSans-Semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'osbolder';
    src: url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.eot');
    src: url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'osregular';
    src: url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body { font:normal 14px 'osregular', arial; line-height: 23px; letter-spacing:0.5px; text-align:center; color:#170100; }

b, strong { font-family:'ossemibold', arial bold; font-weight:normal; letter-spacing: 0.1em; }

.content a { text-decoration:none; color:inherit; }
.content a:hover { color: #EE4123; text-decoration:underline; }
.content a img { border:0; }

input::-ms-clear {
    display: none;
}

#content {
	margin:0 auto;
	min-width:1024px
}
#pagecontent {
	margin:0 auto; width:968px;
	background: url(../img/topBar.png) center top no-repeat;
	padding:64px 0 48px;
}
.right { float:right !important; }
.twoCols { width:44%; float:left; }
ul.twoCols { width:40%; float:left; }
.threeCols { width:30%; float:left; }
.three2Cols { width:60%; float:left; }
.fourCols { width:22%; float:left;}
.fourCols_forThree { float: left; width: 480px; margin-bottom:32px; padding-top:8px; }
.clearBoth { display:block; clear:both; }
.noFloat { float: none !important; }

.breadcrumbs { text-align:left; position: relative; top: -16px; list-style:none; margin-left:0px;  }
.breadcrumbs li { display:inline;}
.breadcrumbs a { color:#9E9E9E; text-decoration:none; }
.breadcrumbs a:hover { font-family:'ossemibold', arial black;	 }
.breadcrumbs a.active { font-family:'ossemibold', arial black;	 }
.breadcrumbs span { padding:0 4px; color:#9E9E9E; }

.textContent { color:#444; }
.textContent ul { padding-left: 19px; padding-right:12px }
.textContent ul li { list-style-type:none; position:relative; margin-bottom: 8px; }
.textContent ul li:before { content:'+'; font-family:'ossemibold', arial black; position:absolute; top:0; left:-20px; color:#EE4123;}
.textContent ul li.email:before { content:'@'; }
#primary { padding-top: 103px; }

.onlyWeb {}
.onlyMobile { display:none; }
.displayNone { display:none !important;}






/* *********** PERFILADOR ** *** ********************** */
/* *********** PERFILADOR **  *  ********************** */
/* *********** PERFILADOR ** ************************** */

/* Contenido General */
.conocenos .content td,
.conocenos .content, .conocenos .submenu li,
.ofertaeducativa .content, .ofertaeducativa .submenu li {
	font-family: osregular !important;
	font-size: 14px !important;
	line-height: 23px !important;
}

.conocenos .content strong, .conocenos .submenu li strong,
.ofertaeducativa .content strong, .ofertaeducativa .submenu li strong {
	font-family: osbold !important;
}

.conocenos .content p,
.ofertaeducativa .content p {
	margin: 10px 0 50px;
}

.conocenos .content h3,
.ofertaeducativa .content h3 { font-size:16px; font-family:osbold !important; margin:50px 0 -8px; }

/* titulo de la sección */
.conocenos_title,
.ofertaeducativa_title,
.cuerpodocente_title,
.articulosculinarios_title,
.contacto_title {
	font-family: osbold !important;
	font-size: 40px !important;
	line-height:28px;
}
.conocenos_title span,
.ofertaeducativa_title span,
.cuerpodocente_title span,
.articulosculinarios_title span,
.contacto_title span {
	font-family: osregular !important;
	font-size: 22px !important;
}

/* leyenda titulo */
.conocenos_content,
.cuerpodocente .content .subTitle,
.articulosculinarios_content,
.contacto_content {
	font-family: osregular !important;
	font-size: 20px !important;
	margin-bottom:40px !important;
}

/* subtitulo */ 
.articulosculinarios .article_title,
.contacto .content .subtitle,
.conocenos .content .subtitle {
	font-family: osregular !important;
	font-size: 28px !important;
	padding-bottom:0 !important;
	margin-bottom:50px;
}




