#footer {
	width: 100%;
	min-width:320px;
	font-family: 'osregular', arial;
	font-size: 12px;
	color: #fff;
}
#footer a {
	text-decoration: none;
	color: #fff;
}
#footer .barra {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: solid 1px rgba(255,255,255,0.2);
}

#footer .siguenos {
	position: relative;
	padding: 10px 10px 20px 10px;
	background: #899414;
}
#footer .siguenos p {
	font-size: 1.2rem;
	margin: 10px auto;
}
#footer .siguenos  img {
	height: 28px;
	margin: 8px;
	cursor: pointer;
}

#footer .legales {
	position: relative;
	background: #899414;
	padding: 27px 10px;
}
#footer .legales  a {
	display: inline-block;
	vertical-align: top;
	margin: 3px 30px;
}

#footer .desktop {
	position: relative;
	background: #717b01;
	padding: 27px 10px;
}

#footer .copyright {
	position: relative;
	padding: 27px 10px;
	background: #717b01;
}
#footer .copyright p {
	margin: 2px 0;
	padding: 0 ;
}