#header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-width:320px;
	height: 60px;
	z-index: 15;
}
#header_dummy {
	position: realative;
	height: 60px;
	min-width:320px;
}

#header .head_logo {
	width: 100%;
	height: 60px;
	background: #fff url('../img/general/logo_Gastro.jpg') center top 12px no-repeat;
	background-size: 193.5px 45px;
}
#header .main_menu {
	width: 60px;
	height: 60px;
	position: absolute;
	left:0;
	top:0;
	overflow: hidden;
}
#mb_menu_btn {
	width: 100%;
	height: 60px;
	background: #ee4123 url('../img/general/icon_menu.png') right 17px top 18px no-repeat;
	background-size: 27px 22px;
}
#mb_menu_btn.active {
	background: #ee4123 url('../img/general/close.png') right 17px top 18px no-repeat;
	background-size: 22px 22px;
}
#header .head_contact {
	width: 60px;
	height: 60px;
	position: absolute;
	right:0;
	top:0;
	overflow: hidden;
}
#mb_contact_btn {
	width: 100%;
	height: 60px;
	background: #ee4123 url('../img/general/icon_contact.png') left 17px top 18px no-repeat;
	background-size: 30px 22px;
}
#header .head_contact span.error {
	display: none;
}



#header .main_menu ul {
	position: fixed;
	left: 0;
	top: 60px;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
}
#header .main_menu ul.level_0 {
	display: block;
}
#header .main_menu li {
	position: relative;
	/*padding: 10px 0;*/
	background: #fd6d26;
	color: #fff;
	text-align: left;
}
#header .main_menu li.dropdown {
	background: #fd6d26 url('../img/plus.png') right 10px center no-repeat;
	background-size:13px;
}
#header .main_menu li.anchor {
	background: #fd6d26 url('../img/arrow-left.png') right 10px center no-repeat;
}
#header .main_menu li.back {
	background: #d34107 url('../img/arrow-right.png') left 20px center no-repeat;
}
#header .main_menu li.active {
	background-color: #ef5103;
}
#header .main_menu li a {
	text-decoration: none;
	color: #fff;
	padding: 15px 0;
	display:block;
}
#header .main_menu li span {
	display: block;
	padding-left: 20px;
	padding-right: 25px;
}
#header .main_menu li.back span {
	padding-left: 40px;
}
/*#header .main_menu li .dropdown {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: #7f7;
}*/