#home {}
#home .home-slide { border:1px solid red; margin:1px; }



#home .smpl_hslide.slideBackground { position:relative; border:1px solid green; margin:1px; height:300px; } 
#home .smpl_hslide.slideBackground .slide_nav { display:block; list-style-type:none; margin:0; padding:0; position:absolute; left:16px; top:200px; z-index:9;}
#home .smpl_hslide.slideBackground .slide_nav li { display:block; list-style-type:none; margin:0; padding:0 8px; float:left;}
#home .smpl_hslide.slideBackground .slide_nav .prev,
#home .smpl_hslide.slideBackground .slide_nav .next { display:none; }
#home .smpl_hslide.slideBackground .slide_nav .link {cursor:pointer;}
#home .smpl_hslide.slideBackground .slide_nav .link.active a {color:red;}
#home .smpl_hslide.slideBackground img.page-image { position:absolute; left:0; top:0; width:100%; height:100%; pointer-events:none; background:white; }
#home .smpl_hslide.slideBackground .slide-title { position:absolute; left:16px; top:16px;  width:50%; }
#home .smpl_hslide.slideBackground .slide-content { position:absolute; left:16px; top:48px;  width:50%; }

#home .smpl_hslide.slideImage { position:relative; border:1px solid green; margin:1px; height:400px; } 
#home .smpl_hslide.slideImage .slide_nav { display:block; list-style-type:none; margin:0; padding:0; position:relative; top:200px; width:100%; }
#home .smpl_hslide.slideImage .slide_nav .prev,
#home .smpl_hslide.slideImage .slide_nav .next { cursor:pointer; }
#home .smpl_hslide.slideImage .slide_nav .prev { float:left; }
#home .smpl_hslide.slideImage .slide_nav .next { float:right; }
#home .smpl_hslide.slideImage .slide_nav .link { display:none; }
#home .smpl_hslide.slideImage img.page-image { position:absolute; left:50%; top:0; width:200px; height:300px; pointer-events:none; background:#afa; }
#home .smpl_hslide.slideImage .slide-title { position:absolute; left:0px; top:320px; width:100%; text-align:center; }
#home .smpl_hslide.slideImage .slide-content { position:absolute; left:0px; top:340px; width:100%; text-align:center; }


#home .smpl_tabs { height:200px; }
#home .smpl_tabs .tab { float:left; width:25%; height:100%; position:relative; }
#home .smpl_tabs img.page-image { position:absolute; left:0; top:0; width:100%; height:100%; }
#home .smpl_tabs .tab .tab-title { position:absolute; left:0; top:0; width:100%; text-align:center; }
#home .smpl_tabs .tab .tab-content { position:absolute; left:0; top:32px; width:100%; text-align:center; }
#home .smpl_tabs {}



#home .slider1 {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: solid 1px #ee4123;
}
#home .slider1 .slide {
	text-align: center;
}
#home .slider1 .slide img.pic {
	width: 100%;
	margin-bottom: 26px;
}
#home .slider1 .slide img.button {
	width: 80%;
	margin: 0 auto;
}
#home .slider1 .slide.dos,
#home .slider1 .slide.tres {
	display: none;
}
#home .slider1 .control {
	position: absolute;
	width: 100%;
	text-align: center;
	height: 32px;
	top: 190px;
}
#home .slider1 .control .bullet {
	
}

#home .tabs1 {
	width: 100%;
}
#home .tabs1 .tab img {
	width: 100%;
}
