
	#menu_main {}
	#menu_main ul { border:0 !important; }

	ul.level_0 { display:block; position:relative; width:800px; margin:0; padding:1px; list-style-type:none; float:right; }
	ul.level_0 li { display:block; list-style-type:none; float:left; width: 100%; }
	ul.level_0 li a { display:block; }
	ul.level_0 li a span { display:block; }
	ul.level_0 li .first {}
	ul.level_0 li .first a {}
	ul.level_0 li .first a span {}
	ul.level_0 li .last {}
	ul.level_0 li .last a {}
	ul.level_0 li .last a span {}
	ul.level_0 li .active {}
	ul.level_0 li .active a {}
	ul.level_0 li .active a span {}
	ul.level_1 { display:none; position:absolute; left:0; top:20px; margin:0; padding:1px; list-style-type:none; border:0px solid transparent; }
	ul.level_1 li { display:block; list-style-type:none; float:left; }
	ul.level_1 li a { pointer-events:auto; }
	ul.level_1 li a span {}
	ul.level_1 li .first {}
	ul.level_1 li .first a {}
	ul.level_1 li .first a span {}
	ul.level_1 li .last {}
	ul.level_1 li .last a {}
	ul.level_1 li .last a span {}
	ul.level_1 li .active {}
	ul.level_1 li .active a {}
	ul.level_1 li .active a span {}
	ul.level_2 { display:none; margin:0; padding:0; list-style-type:none; border:0px solid blue; }
	ul.level_2 li { }
	ul.level_2 li a {}
	ul.level_2 li a span {}
	ul.level_2 li .first {}
	ul.level_2 li .first a {}
	ul.level_2 li .first a span {}
	ul.level_2 li .last {}
	ul.level_2 li .last a {}
	ul.level_2 li .last a span {}
	ul.level_2 li .active {}
	ul.level_2 li .active a {}
	ul.level_2 li .active a span {}
	ul.level_3 { display:none; }
	
	#main_menu .clearBoth { clear:both; font-size:1px; height:0; line-height:0; margin:0; padding:0; }