#pagecontent { font:normal 1rem 'osregular', arial; letter-spacing:0.5px; text-align:left; }

#pagecontent .breadcrumbs { display:none; }



#pagecontent .content {
	padding:1.5rem;
}
#pagecontent ul.submenu { display:block; margin:0; padding:0; list-style-type:none; text-align:left; border-top: 2px solid #ee4123; margin:32px 1em 64px; }
#pagecontent ul.submenu  li { clear:left; display:block; margin:0; list-style-type:none; padding:0; }
#pagecontent ul.submenu  li a { display: block; padding: 1rem; margin: 0; background: #fbfbfb; border-bottom: 1px solid #d3d3d3; text-decoration:none; color:#333; position:relative; font-size: 1.2rem;
background: url(../img/arrow_gray.png) right 15px top 20px no-repeat;
background-size: 12px;
}
#pagecontent ul.submenu  li a:hover { font-family:ossemibold; }
#pagecontent ul.submenu  li a.active { font-family:ossemibold; }
/*#pagecontent ul.submenu  li a:before { content:url(../img/arrow_gray.png); position: absolute; right: 1rem;  }*/

#pagecontent ul.submenu  li a span {  }
#pagecontent ul.submenu .title { display:none; color:#EE4123; text-transform:uppercase; padding-bottom:8px; font-size:1.5rem; float:left; border-bottom: 1px solid #EE4123; margin-bottom: 16px; font-family:ossemibold; padding-right:48px; }


/* titulo */
.articulosculinarios_title,
.pagecontent_title { color:#EE4123; font-family:osbold; font-size:37px; text-transform:uppercase; padding:1.5rem; margin:0px; text-align:left; padding-bottom: 0; }
.pagecontent_title span { font-family:osregular; font-size:28px;; }
.________pagecontent_title:first-line { font-size:0.8rem; font-weight:normal; }
.articulosculinarios_content,
.pagecontent_content { color:#888; font-size:18px; padding-bottom:28px; border-bottom:1px solid #888; text-align: left; margin:0 1.5rem 12px; } 

#pagecontent  .content h2 {
	font-size: 1.2rem;
	color: #EE4123;
	border-bottom: 1px solid #EE4123;
	padding-bottom: 4px;
}
#pagecontent   .content a.link {
	display:block; border:0; padding:8px 28px 8px 16px; background: url(../img/boton_green_mobile_over.png) left center no-repeat; -webkit-border-radius: 1.5rem; -moz-border-radius: 1.5rem; border-radius: 1.5rem; text-align:left; width:auto; overflow:hidden; margin:0 16px; text-align:center;
	color: #fff; font-family: 'ossemibold',arial Blak; font-size: 14px; position:relative; text-transform: uppercase; text-decoration: none; font-size: 18px;
}
#pagecontent   .content a.link:after { content: url(../../web/img/arrow-left.png); position:absolute; right:14px; top:50%; margin-top:-7px; }
#pagecontent   .content a.link.hover { background-image: url(../img/boton_orange_mobile.png); }

/**** NIVEL 0 ****/

#pagecontent ul.pagecontent_mainmenu {
	margin:0 auto; padding:0; list-style-type:none; display:block; width:1024px; clear:both;
}
#pagecontent ul.pagecontent_mainmenu li { background:#eee;
	margin:0; padding:0; list-style-type:none; display:block; position:relative;
}
#pagecontent ul.pagecontent_mainmenu li a {
	display:block; width:100%; height:100%;
	
}
#pagecontent ul.pagecontent_mainmenu li a span {
	position:absolute; left:0; right:0; bottom:0; display:block;
	z-index:1; text-align:center; padding:1rem; color:#fff; text-transform:uppercase; font-size:1.5rem; text-shadow: 0px 0px 5px rgba(128, 128, 128, 0.9);
}

#pagecontent ul.pagecontent_mainmenu li a img {
	display:block; position:absolute;left:0; top:0; z-index:0;
}

#pagecontent ul.pagecontent_mainmenu li:nth-of-type(6n+1){
	width:506px; height:165px; float:left; margin: 0 10px 10px 0;
}
#pagecontent ul.pagecontent_mainmenu li:nth-of-type(6n+2){
	width:248px; height:300px; float:right; margin: 0 0 10px 0;
}
#pagecontent ul.pagecontent_mainmenu li:nth-of-type(6n+3){
	width:248px; height:300px; float:right; margin: 0 10px 10px 0;
}
#pagecontent ul.pagecontent_mainmenu li:nth-of-type(6n+4),
#pagecontent ul.pagecontent_mainmenu li:nth-of-type(6n+5){
	width:248px; height:300px; float:left; margin: 0 10px 10px 0;
}
#pagecontent ul.pagecontent_mainmenu li:nth-of-type(6n+6){
	width:506px; height:165px; float:right;
}

/**** NIVEL 1 ****/
#pagecontent .nav { height:32px; border-bottom:1px solid #8A9414; }
#pagecontent .nav a { float:left; text-decoration:none; color:#333; font-family:ossemibold; text-transform:uppercase; }
#pagecontent .nav a span.arrow { color:#8A9414; padding:0 4px; }
#pagecontent .nav a span.label { font-weight:normal;}
#pagecontent .nav a span.title { } 	
#pagecontent .nivel2 .content_menu { margin:0; padding:0; list-style-type:none; display:block; }
#pagecontent .nivel2 .content_menu li { margin:0; padding:0; list-style-type:none; display:block; margin-bottom:10px; }
#pagecontent .nivel2 .content_menu li a { display:block; position:relative; width:100%; text-decoration:none; text-transform:uppercase; color:#333; }
#pagecontent .nivel2 .content_menu li a img.image { display:block; width:100%; min-height:100px; border-bottom:1px solid #EE4123; background:#eee; }
#pagecontent .nivel2 .content_menu li a img.icon { position:absolute; width:92px; height:92px; left:20px; top:18px; z-index:1; }
#pagecontent .nivel2 .content_menu li a span.title { position:relative; display:block; font-size:1rem; padding:16px 0; }
#pagecontent .nivel2 .content_menu li a:hover span.title { color:#fff; }
#pagecontent .nivel2 .content_menu li a:hover { background:#EE4123; }
#pagecontent .nivel2 .content_menu li a:hover img { -moz-opacity: 0.57; -khtml-opacity: 0.57; opacity: 0.57; }


/**** NIVEL 2 ****/
#pagecontent .nav a.prev { font-weight:normal; }
#pagecontent .nav a.next { font-weight:normal; float:right;}
#pagecontent .nav a.next .arrow { float:right;}
#pagecontent #ajaxable_content { padding-top:32px; text-align:left;}


/***** conocenos *****/
.conocenos .threeCols { margin-bottom:24px;}




/***** artículo POST *****/
.articulosculinarios .article_title { color:#EE4123; font-family:osbold; font-size:37px; text-transform:uppercase; padding:1.5rem; margin:0px; text-align:left; padding-bottom: 0;  }
.articulosculinarios .article_title span { font-family:osregular; font-size:28px; }
.articulosculinarios .article_date { font-size:1.2rem; color:#888; }
.articulosculinarios .article_author { font-size:1rem; color:#888; font-style: italic; }
.articulosculinarios .article_extract { font-size:1.3rem; padding: 24px 0; } 
.articulosculinarios .article_extract:after { content:'...'; }
.articulosculinarios .article_content { font-size:1.1rem; padding-bottom:64px; } 
.articulosculinarios .article_img { float:left; }
.articulosculinarios .article_img img { border-bottom:2px solid #EE4123; margin-bottom:16px; width:60%; height: auto; }

/***** lista de artículos POST *****/
.articulosculinarios ul.list_post { display:block; margin:0; padding:0; list-style-type:none; }
.articulosculinarios ul.list_post li.article { display:block; margin:0; padding:24px 0 32px; list-style-type:none; }
.articulosculinarios ul.list_post li.article .img { float:left; width:auto; max-height:270px; overflow:hidden; margin-right:16px; border-bottom:2px solid #EE4123; }
.articulosculinarios ul.list_post li.article .img span { display:block; height:100%; width:100%; background-color:#dedede;}
.articulosculinarios ul.list_post li.article .img span.noImage { background:url(../../web/img/noImage.png) center top no-repeat; }
.articulosculinarios ul.list_post li.article .img img { width: 100% !important; height: auto !important;  }
.articulosculinarios ul.list_post li.article .match { float: left; width: auto; margin-bottom: 0px; }
.articulosculinarios ul.list_post li.article .date { font-size:1.2rem; color:#888; }
.articulosculinarios ul.list_post li.article .author { font-size:1rem; color:#888; font-style:italic; }
.articulosculinarios ul.list_post li.article .title { font-size:1.5rem; padding:12px 0 12px; }
.articulosculinarios ul.list_post li.article .extract { font-size:1rem; padding-bottom:12px; }
.articulosculinarios ul.list_post li.article .extract:after { content:'...'; }
.articulosculinarios ul.list_post li.article a.link {
	display:block; border:0; padding:8px 28px 8px 16px; background:#EE4123 url(../img/boton_green_mobile_over.png) left center no-repeat; -webkit-border-radius: 1.5rem; -moz-border-radius: 1.5rem; border-radius: 1.5rem; text-align:left; width:auto; overflow:hidden; margin:0 auto; text-align:center;
	color: #fff; font-family: 'ossemibold',arial Blak; font-size: 14px; position:relative; text-transform: uppercase; text-decoration: none; font-size: 18px;
}
.articulosculinarios ul.list_post li.article a.link:after { content: url(../../web/img/arrow-left.png); position:absolute; right:14px; top:50%; margin-top:-7px; }
.articulosculinarios ul.list_post li.article a.link.hover { background-image: url(../img/boton_orange_mobile.png); }


.articulosculinarios .paginador { font-size:1.1rem; clear:both; }
.articulosculinarios .paginador .label { padding:8px 0 32px; border-bottom:1px solid #aaa; margin-bottom:32px; }
.articulosculinarios .paginador .nav { height:100px; }
.articulosculinarios .paginador .nav a { text-decoration:none; color:#333; }
.articulosculinarios .paginador .nav a.disabled { display:none; }
.articulosculinarios .paginador .nav a:hover { color:#8D971C; }
.articulosculinarios .paginador .nav a.prev { float:left; }
.articulosculinarios .paginador .nav a.prev:before { content:"< "; color:#8D971C; }
.articulosculinarios .paginador .nav a.next { float:right; }
.articulosculinarios .paginador .nav a.next:after { content:" >"; color:#8D971C; }





/***** CONTACTO *****/

.main_contact { }
.main_contact .main_contact_content {}
.main_contact .main_contact_content form { text-align:left; padding:32px 0; margin:0; }
.main_contact .main_contact_content form .field { position:relative; clear:all; }
.main_contact .main_contact_content form .field .error { color:red; display:none; position: relative; top: -16px; }
.main_contact .main_contact_content form .field label { display:block; padding-bottom:8px; }
.main_contact .main_contact_content form .field input,
.main_contact .main_contact_content form .field select,
.main_contact .main_contact_content form .field textarea {
	border:1px solid #888; padding:0; background:#fff; -webkit-border-radius: 0.5rem; -moz-border-radius: 0.5rem; border-radius: 0.5rem; text-align:left; 
	display:block; padding: 8px; margin-bottom:16px; width:100%; resize: none; font-size:17px;
}
.main_contact .main_contact_content form .field text {}
.main_contact .main_contact_content form ._field_phon_type {}
.main_contact .main_contact_content form ._field_phon_type input { float:left; width:auto; padding:0; }
.main_contact .main_contact_content form ._field_phon_type label { float:left; padding:0; margin-right:16px; }


.main_contact ._field_telefono #_ladaSelector { color:#333; position:absolute; right:-20px; top:34px; width:70px; height:32px; z-index:10; }
.main_contact ._field_telefono #_ladaSelector  .current { cursor:pointer; width:90px; height:1rem; }
.main_contact ._field_telefono #_ladaSelector  .current .ico { display:block; float:left; background:url(../../web/img/flags14x10.png) left top no-repeat; width:14px; height:10px; position: relative; top: 9px; }
.main_contact ._field_telefono #_ladaSelector  .current .title { display:block; float:left; text-align:left; margin-left:7px; font-size:.8rem; background:url(../img/arrow_gray_down.png) left 4px no-repeat; height:1rem; width:4rem; position: relative; top: 5px; background-size: auto 5px; }
.main_contact ._field_telefono #_ladaSelector  ul {
	display:none; margin:0; padding:0; list-style-type:none; width:200px; position:absolute; left:-140px; top:20px; background:#fff; overflow:hidden;
	-webkit-border-radius: 0.5rem; -moz-border-radius: 0.5rem; border-radius: 0.5rem;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.main_contact ._field_telefono #_ladaSelector  ul li { display:block; margin:0; padding:0; list-style-type:none; clear:both; padding:0px 16px; height:24px; cursor:pointer; }
.main_contact ._field_telefono #_ladaSelector  ul li:hover { background:#EBEBEB; }
.main_contact ._field_telefono #_ladaSelector  ul li .title { display:block; float:left; text-align:left; margin-left:8px; position:relative;top:7px; font-size:.9rem;}
.main_contact ._field_telefono #_ladaSelector  ul li .ico { display:block; float:left; background:url(../../web/img/flags14x10.png) left top no-repeat; width:14px; height:10px;  position:relative;top:8px;}
.main_contact ._field_telefono #_ladaSelector  ul .mex .ico { background-position:left -0px; }
.main_contact ._field_telefono #_ladaSelector  ul .usa .ico { background-position:left -10px; }
.main_contact ._field_telefono #_ladaSelector  ul .esp .ico { background-position:left -20px; }
.main_contact ._field_telefono #_ladaSelector  ul .vzl .ico { background-position:left -30px; }
.main_contact ._field_telefono #_ladaSelector  ul .pru .ico { background-position:left -40px; }
.main_contact ._field_telefono #_ladaSelector  ul .col .ico { background-position:left -50px; }
.main_contact ._field_telefono #_ladaSelector  ul .arg .ico { background-position:left -60px; }
.main_contact ._field_telefono #_ladaSelector  ul .otr .ico { background-position:left -70px; }
.main_contact ._field_telefono #_ladaSelector  ul li input { float:left; height:1.5rem; width:5rem; background:#EBEBEB; line-height:0; text-align:center; margin-left:8px; position:relative;top:5px; -webkit-border-radius: 0.5rem; -moz-border-radius: 0.5rem; border-radius: 0.5rem; }
.main_contact ._field_telefono #_ladaSelector  ul li:hover input { background:#FFF; }


.main_contact .submit { border:0; padding:0; background:#EE4123 url(../img/boton_orange_mobile.png) left center no-repeat; -webkit-border-radius: 1.5rem; -moz-border-radius: 1.5rem; border-radius: 1.5rem; text-align:left; width:100%; overflow:hidden; margin:0 auto; }
.main_contact .submit input { border:0; padding:8px 16px; color:#fff; background:transparent url(../../web/img/header/icon_boolean_status.png) center top no-repeat; cursor:pointer; font-family:ossemibold; position:relative; text-align:center; width:100%; font-size:17px; }
.main_contact .submit:hover 
.main_contact .submit.hover {background-image: url(../img/boton_green_mobile_over.png) }
.main_contact .submit input.true { background-position: center center; }
.main_contact .submit input.false { background-position: center bottom; }
.main_contact .submit:hover { background-image: url(../img/boton_green_mobile_over.png); }


	/***** TELEFONOS *****/
		
	.contacto .contact_contries { padding:24px 0 0; margin:0; }
	.contacto .contact_contries .contry { padding-bottom:13px; }
	.contacto .title {font-family:osbold; padding-bottom:6px; border:1px; }
	.contacto .contact_contries .contry .phone { padding:0 0 13px 20px; background:url(../../web/img/contact/phone_f.png) left top no-repeat; }
	.contacto .contact_contries .contry .email { padding:0 0 13px 0px;  }
	.contacto .contact_contries .contry .address { padding:0 0 13px 20px; background:url(../../web/img/contact/indicador.png) left top no-repeat; }
	.contacto .contact_contries .contry.others { float:right; height:auto; }
	.contacto .contact_contries .contry.internet { height:auto; }
	.contacto ul.submenu { display:block; margin:0; padding:0; list-style-type:none;  border-bottom: 2px solid #eee; border-top-color:#eee !important; margin: 15px 0 !important; padding: 32px 0 !important; }
	.contacto ul.submenu  div.title { display:block !important; float:none !important;  border-bottom:0 !important; text-transform:capitalize !important; }
	.contacto ul.submenu .contact_social { padding-top:24px; }
	.contacto ul.submenu .contact_social a { display:inline-block; width:41px; height:28px; background:transparent center center no-repeat; overflow:hidden; text-indent:-300px; margin:0 9px; background-size:auto 100%;}
	.contacto ul.submenu .contact_social a.facebook {background-image:url(../img/general/facebook_icon.png); width: 18px;	}
	.contacto ul.submenu .contact_social a.youtube {background-image:url(../img/general/youtube_icon.png); width:73px}
	.contacto ul.submenu .contact_social a.instagram {background-image:url(../img/general/instragram_icon.png);}
	.contacto ul.submenu .contact_social a.twitter {background-image:url(../img/general/twitter_icon.png);}
	.contacto ul.submenu .contact_social a:hover { opacity:0.5;}
	.contacto select {
		-webkit-appearance: none;
		background: url('../img/arrow_gray_down.png') right 10px center no-repeat !important;
		background-size: auto 10px !important;
	}

	@media all and (max-width: 333px) {
		.contacto .contact_contries .contry .email {
			font-size: 0.85rem;
		}
	}
	.contacto .subtitleC {
		color: rgb(238, 65, 35);
		display: block;
		font-family: osregular, arial;
		font-size: 30px;
		line-height: normal;
		text-align: left;
	}




/****** DOCENTES ********/

ul.docentes { display:block; margin:0; padding:0 16px !important; list-style-type:none;}
ul.docentes li {display:block; margin:0; padding:0; list-style-type:none; position:relative; width:auto; width: 50%; float: left; }
ul.docentes li:nth-of-type(2n+1) { clear:both;}
ul.docentes li .data_preview { text-align:center; padding:16px 5%; margin:0 auto;}
ul.docentes li .data_preview .img { cursor:pointer; }
ul.docentes li .data_preview .img img { width:100%; }
ul.docentes li .data_preview .name { font-size: 1em; padding:16px 0px 8px; position:relative; min-height: 68px; }
ul.docentes li .data_preview .name:before { content:''; display:block; width:50%; left:25%; bottom:0; position:absolute; }
ul.docentes li .data_preview .title { text-transform:uppercase; color:#aaa; padding:0px 0px; height: 52px; display:table-cell; vertical-align:top; width: 241px; font-size: 12px; }
ul.docentes li .data_preview .countries { }
ul.docentes li .data_preview .countries span { margin: 7px 3px; }

ul.docentes li .data_content { display:none;padding-bottom: 16px; padding-top: 16px;}
ul.docentes li .data_content .content_content { position:relative; padding-bottom: 32px; background: #dedede; }
			/*ul.docentes li .data_content .background { display:none; }
			ul.docentes li .data_content .img { text-align:center; padding:0 0 48px; background:url(../../web/img/docente_lazo.png) center bottom no-repeat;}
			ul.docentes li .data_content .img img { width:208px; height:250px; }
			ul.docentes li .data_content .name { display:block; width:650px; padding:65px 0 12px; font-size:2rem; }
			ul.docentes li .data_content .title { display:block; float:left; text-transform:uppercase; padding-bottom:16px; }
			ul.docentes li .data_content .countries { display:inline-block; }
			ul.docentes li .data_content .countries span { zoom:0.3; }*/
ul.docentes li .data_content .description { display:block; padding:48px 16px 16px;  }
ul.docentes li .data_content  a.close {
	display: block;
	position: absolute;
	width: 20px;
	top: 16px;
	right: 16px;
	height: 20px;
	background: url(../../web/img/cerrar.png) center center no-repeat;
	cursor: pointer;
}
ul.docentes li .data_content .link { margin: 0 16px; }

ul.docentes li .data_content a.link {
	display:block; border:0; padding:8px 28px 8px 16px; background:#EE4123 url(../img/boton_green_mobile_over.png) left center no-repeat; -webkit-border-radius: 1.5rem; -moz-border-radius: 1.5rem; border-radius: 1.5rem; text-align:left; width:auto; overflow:hidden; margin:0 16px; text-align:center;
	color: #fff; font-family: 'ossemibold',arial Blak; font-size: 14px; position:relative; text-transform: uppercase; text-decoration: none;
}
ul.docentes li .data_content a.link:after { content: url(../../web/img/arrow-left.png); position:absolute; right:14px; top:50%; margin-top:-7px; }
ul.docentes li .data_content a.link.hover { background-image: url(../img/boton_orange_mobile.png); }


ul.docentes li .data_content { position:relative; display:block; }
ul.docentes li .data_content:before {
	content:''; display:block; position:absolute; top: 5px; left:25%; width:1px; height:1px; overflow:hidden; z-index:1;
	border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #dedede;
}
ul.docentes li:nth-of-type(2n+2) .data_content:before { left:75%; }
ul.docentes li.hover .data_content { width: 200%; display:block !important; }
ul.docentes li.hover:nth-of-type(2n+2) .data_content { position: relative; left: -100%; }














/* ;;;;;;;;;;;;;;; OFERTA EDUCATIVA ;;;;;;;;;;;;;;;; */

ul.ofertaeducativa_mainmenu {padding:1.5rem; margin:0; list-style-type:none; }
ul.ofertaeducativa_mainmenu li {display:block; padding:0; margin:0; list-style-type:none; }
ul.ofertaeducativa_mainmenu li a {display:block; text-decoration:none; }
ul.ofertaeducativa_mainmenu li a:hover,
ul.ofertaeducativa_mainmenu li a.hover { background:#EE4123 !important; }
ul.ofertaeducativa_mainmenu li a:hover img,
ul.ofertaeducativa_mainmenu li a.hover img { -moz-opacity: 0.57 !important; -khtml-opacity: 0.57 !important; opacity: 0.57 !important; }
ul.ofertaeducativa_mainmenu li a img {display:block; width:100%; }
ul.ofertaeducativa_mainmenu li a span {display:block; text-align:left; color:#888; text-transform:uppercase; padding: 8px 0 24px; }
ul.ofertaeducativa_mainmenu li a:hover span,
ul.ofertaeducativa_mainmenu li a.hover span {color:#fff !important;}

#ajaxable_content { text-align:left; }
#ajaxable_content img:first-of-type { width:100%; }

.ofertaeducativa .ofertaeducativa_title span { font-family:osregular; font-size:28px;}
.ofertaeducativa .ofertaeducativa_title { font-size:35px; font-family:osbold; text-align: left; 
 padding-bottom: 0;  text-transform: uppercase; margin: 0 16px; color: #EE4123; padding:32px 0;}
.ofertaeducativa .nivel3 .ofertaeducativa_title {  padding:180px 0 32px; background-size: 168px; 
background-repeat: no-repeat; text-align: center; 
background-position: center 16px; 
border-bottom: 1px solid #ddd; }

.ofertaeducativa .nav { display:none; }
.ofertaeducativa .gastromath { padding:4%; border:1px solid #889512; }
.ofertaeducativa .gastromath * {display:inline-block; font-family:ossemibold; font-size:0.5rem; color:#889512; text-transform:uppercase; text-align:center; }
.ofertaeducativa .gastromath .a,
.ofertaeducativa .gastromath .b   { padding:100px 0px 0px; width:23%; background:url(../../web/img/icon_curso_v.png) center top no-repeat; background-size:100px;}
.ofertaeducativa .gastromath .c   { padding:100px 0px 0px; width:27%; background:url(../../web/img/icon_carrera.png) center top no-repeat; background-size:100px; color:#EE4123; float:right; }
.ofertaeducativa .gastromath .a2 { padding:100px 0px 0px; width:23%; background:url(../../web/img/icon_carrera_v.png) center top no-repeat; background-size:100px; }
.ofertaeducativa .gastromath .b2 { padding:100px 0px 0px; width:23%; background:url(../../web/img/icon_curso_v.png) center top no-repeat; background-size:100px; }
.ofertaeducativa .gastromath .c2 { padding:100px 0px 0px; width:27%; background:url(../../web/img/icon_diplomado.png) center top no-repeat; background-size:100px; color:#EE4123; float:right; }
.ofertaeducativa .gastromath .plus { font-size:4em; line-height:100%; width:9%; position: relative; top:-26px; }
.ofertaeducativa .gastromath .equal { font-size:4em; line-height:100%; width:9%; position: relative; top:-26px; }

.ofertaeducativa #ajaxable_content .duraccion { padding:16px 0; display:block; }
.ofertaeducativa #ajaxable_content .duraccion:before {
	content:''; display:inline-block; width:24px; height:24px; background:url(../img/icons24x24.png) left top;
	margin-right: 6px; position: relative; top: 6px;
}
.ofertaeducativa #ajaxable_content .precio { padding:16px 0; display:block; }
.ofertaeducativa #ajaxable_content .precio:before {
	content:''; display:inline-block; width:24px; height:24px; background:url(../img/precio24x24.png) left top;
	margin-right: 6px; position: relative; top: 6px;
}
.ofertaeducativa #ajaxable_content .download { display:block; }

.ofertaeducativa #ajaxable_content ul { padding-bottom:16px; padding-left:19px; }
.ofertaeducativa #ajaxable_content ul li { width:100%; list-style-type:none; position:relative; margin-bottom:12px; }
.ofertaeducativa #ajaxable_content ul li:before { content:'+'; position:absolute; left:-16px; top:0; color: #EE4123; font-family:ossemibold; }
.ofertaeducativa #ajaxable_content ul li > div { text-align:left; }
.ofertaeducativa #ajaxable_content h2 { font-size: 1.2em; color: #EE4123; border-bottom: 1px solid #EE4123; padding-bottom: 4px; }


.ofertaeducativa #ajaxable_content ol { padding-bottom:16px; padding-left:10px; counter-reset: item; }
.ofertaeducativa #ajaxable_content ol li { list-style-type:none; position:relative; margin-bottom:12px; position:relative; }
.ofertaeducativa #ajaxable_content ol li:before { position: absolute; display: block; left: -42px; width: 32px; top: 0; color: #EE4123; font-family:ossemibold; padding: 0 !important; text-align: right; }
.ofertaeducativa #ajaxable_content ol > li { counter-increment: item; color:#EE4123; font-family:ossemibold }
/*.ofertaeducativa #ajaxable_content ol > li:before { content: counters(item, ".")". "; padding-right: 0.6em; }*/
.ofertaeducativa #ajaxable_content ol > li ol,
.ofertaeducativa #ajaxable_content ol > li ul { margin: 0; counter-reset: item2; padding:16px 0; margin-left:32px; }
.ofertaeducativa #ajaxable_content ol > li ol > li,
.ofertaeducativa #ajaxable_content ol > li ul > li { counter-increment: item2; color:#444 !important; font-weight:normal !important; }
.ofertaeducativa #ajaxable_content ol > li ol > li,
.ofertaeducativa #ajaxable_content ol > li ul > li:before { contentOriginal: counters(item, ".") "." counters(item2, ".") " "; content: counters(item2, ".") ". "; color:#444; }


.ofertaeducativa ul.docentes li {  }
.ofertaeducativa ul.docentes li:before { display:none; }
.ofertaeducativa ul.docentes li:first-line { display:block; }
.ofertaeducativa ul.docentes > div { display:block; text-align:center; padding:0px 0 24px; width: auto; }
.ofertaeducativa ul.docentes > div:nth-of-type(2n+1) { clear:both; }
.ofertaeducativa ul.docentes > div:nth-of-type(2n+2) { }
.ofertaeducativa ul.docentes > div .image { position:relative; }
.ofertaeducativa ul.docentes > div .image img { width:100%; }
.ofertaeducativa ul.docentes > div .image .over { text-indent:-1000px; position:absolute; left:0; top:0; width:100%; height:100%; }
.ofertaeducativa ul.docentes > div .image .over a { text-indent:-1000px; position:absolute; left:0; top:0; width:100%; height:100%; }

.ofertaeducativa ul.docentes > div .name { font-size:1rem; padding:16px 0px; position:relative; }
.ofertaeducativa ul.docentes > div .name:before { content:''; display:block; width:50%; left:25%; bottom:0; position:absolute; border-top:1px solid #EE4123; }
.ofertaeducativa ul.docentes > div .title { font-size:1rem; text-transform:uppercase; color:#aaa; padding:16px 0; display:block; vertical-align:middle; width: auto; }
.ofertaeducativa ul.docentes > div .countries { }
.ofertaeducativa ul.docentes > div .countries span { margin: 3px; }


.ofertaeducativa .integral { padding:16px 0; position: relative;  display:block; }
.ofertaeducativa .integral:before {
	content:''; display:block; width:24px; height:24px; background:url(../img/icons24x24.png) left -24px;
	margin-right: 6px; position: absolute; top: 13px; left: 0;
}
.ofertaeducativa .integral span { display:block; padding-left: 30px; }
.ofertaeducativa .integral .integral { counter-reset: item; display:block; padding:0 !important; }
.ofertaeducativa .integral .integral a { text-decoration:none; }
.ofertaeducativa .integral .integral:before { display:none; padding:8px; }
.ofertaeducativa .integral .integral span { display:block; padding: 8px 65px; background:#fbfbfb no-repeat; background-position:8px center; background-size:48px; color:#EE4123; border-bottom:2px solid #EE4123; 
 
 }
.ofertaeducativa .integral .integral span.carrera { background-image:url(../../web/img/icon_carrera.png); }
.ofertaeducativa .integral .integral span.curso { background-image:url(../../web/img/icon_curso.png); }
.ofertaeducativa .integral .integral a { position:relative; display:block; counter-increment: item; padding:8px 64px; background:#fbfbfb url(../../web/img/arrow-left-black.png) right+24px center no-repeat; border-bottom:1px solid #aaa; }
.ofertaeducativa .integral .integral a:before { content: counters(item, ".")". "; position:absolute; top:8px; left:42px;  }


	#contribuidores ul.docentes { display:block; margin:0; padding:20px 0 0 !important; list-style-type:none;}
	#contribuidores ul.docentes li {display:block; margin:0; padding:0; list-style-type:none; position:relative; width:auto; width: 50%; float: left; }
	#contribuidores ul.docentes li:nth-of-type(2n+1) { clear:both;}
	#contribuidores ul.docentes li .data_preview { text-align:center; padding:16px 5%; margin:0 auto;}
	#contribuidores ul.docentes li .data_preview .img { cursor:pointer; }
	#contribuidores ul.docentes li .data_preview .img img { width:100%; }
	#contribuidores ul.docentes li .data_preview .name { font-size: 1em; padding:16px 0px 8px; position:relative; min-height: 68px; }
	#contribuidores ul.docentes li .data_preview .name:before { content:''; display:block; width:50%; left:25%; bottom:0; position:absolute; }
	#contribuidores ul.docentes li .data_preview .title { text-transform:uppercase; color:#aaa; padding:0px 0px; height: 52px; display:table-cell; vertical-align:top; width: 241px; font-size: 12px; }
	#contribuidores ul.docentes li .data_preview .countries { }
	#contribuidores ul.docentes li .data_preview .countries span { margin: 7px 3px; }

	#contribuidores ul.docentes li .data_content { display:none;padding-bottom: 16px; padding-top: 16px;}
	#contribuidores ul.docentes li .data_content .content_content { position:relative; padding-bottom: 32px; background: #dedede; }
	#contribuidores ul.docentes li .data_content .description { display:block; padding:48px 16px 16px;  }
	#contribuidores ul.docentes li .data_content  a.close {
		display: block;
		position: absolute;
		width: 20px;
		top: 16px;
		right: 16px;
		height: 20px;
		background: url(../../web/img/cerrar.png) center center no-repeat;
		cursor: pointer;
	}
	#contribuidores ul.docentes li .data_content .link { margin: 0 16px; }

	#contribuidores ul.docentes li .data_content a.link {
		display:block; border:0; padding:8px 28px 8px 16px; background:#EE4123 url(../img/boton_green_mobile_over.png) left center no-repeat; -webkit-border-radius: 1.5rem; -moz-border-radius: 1.5rem; border-radius: 1.5rem; text-align:left; width:auto; overflow:hidden; margin:0 auto; text-align:center;
		color: #fff; font-family: 'ossemibold',arial Blak; font-size: 14px; position:relative; text-transform: uppercase; text-decoration: none; font-size: 18px;
	}
	#contribuidores ul.docentes li .data_content a.link:after { content: url(../../web/img/arrow-left.png); position:absolute; right:14px; top:50%; margin-top:-7px; }
	#contribuidores ul.docentes li .data_content a.link.hover { background-image: url(../img/boton_orange_mobile.png); }


	#contribuidores ul.docentes li .data_content { position:relative; display:block; }
	#contribuidores ul.docentes li .data_content:before {
		content:''; display:block; position:absolute; top: 5px; left:25%; width:1px; height:1px; overflow:hidden; z-index:1;
		border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #dedede;
	}
	#contribuidores ul.docentes li:nth-of-type(2n+2) .data_content:before { left:75%; }
	#contribuidores ul.docentes li.hover .data_content { width: 200%; display:block !important; }
	#contribuidores ul.docentes li.hover:nth-of-type(2n+2) .data_content { position: relative; left: -100%; }


.ofertaeducativa .content_footer { padding: 0 16px; }














.subTitle { color:#EE4123; font-size:1.9rem; text-align:left; padding-bottom:32px;}
.content_content { text-align:left; }

.testimoniales { padding-bottom: 24px; /*width:330px;*/ }
.testimoniales blockquote { position:relative; margin-right:0; margin-left:40px; }
.testimoniales blockquote:before { content:'"'; color:#EE4123; position:absolute; left:-20px;  font-family:ossemibold; }
.testimoniales blockquote:after { content:'"'; color:#EE4123; position:relative; left:20px;	 font-family:ossemibold; }
.testimoniales span { display:block; text-transform:uppercase; font-size:0.8rem; color:#888;  margin-right:0; margin-left:40px;  }

#pagecontent  h4	 { color:#EE4123; font-weight:normal; }
#pagecontent .threeCols, #pagecontent .three2Cols { margin-right:12px;}
#pagecontent  .three2Cols  .twoCols { margin-right:12px;}


.jp-video-play-icon {
	width: 85px !important;
	height: 60px !important;
	margin-left: -43px !important;
	top:75% !important;
	background-size: 85px 60px !important;
	opacity: 0.7 !important;
}



