.f_ad { background:url(ad.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ae { background:url(ae.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_af { background:url(af.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ag { background:url(ag.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ai { background:url(ai.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_al { background:url(al.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_am { background:url(am.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_an { background:url(an.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ao { background:url(ao.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_aq { background:url(aq.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ar { background:url(ar.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_as { background:url(as.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_at { background:url(at.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_au { background:url(au.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_aw { background:url(aw.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ax { background:url(ax.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_az { background:url(az.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ba { background:url(ba.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bb { background:url(bb.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bd { background:url(bd.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_be { background:url(be.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bf { background:url(bf.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bg { background:url(bg.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bh { background:url(bh.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bi { background:url(bi.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bj { background:url(bj.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bl { background:url(bl.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bm { background:url(bm.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bn { background:url(bn.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bo { background:url(bo.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bq { background:url(bq.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_br { background:url(br.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bs { background:url(bs.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bt { background:url(bt.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bv { background:url(bv.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bw { background:url(bw.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_by { background:url(by.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_bz { background:url(bz.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ca { background:url(ca.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cc { background:url(cc.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cd { background:url(cd.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cf { background:url(cf.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cg { background:url(cg.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ch { background:url(ch.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ci { background:url(ci.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ck { background:url(ck.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cl { background:url(cl.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cm { background:url(cm.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cn { background:url(cn.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_co { background:url(co.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cr { background:url(cr.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cs { background:url(cs.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cu { background:url(cu.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cv { background:url(cv.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cw { background:url(cw.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cx { background:url(cx.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cy { background:url(cy.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_cz { background:url(cz.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_de { background:url(de.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_dj { background:url(dj.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_dk { background:url(dk.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_dm { background:url(dm.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_do { background:url(do.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_dz { background:url(dz.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ec { background:url(ec.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ee { background:url(ee.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_eg { background:url(eg.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_eh { background:url(eh.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_er { background:url(er.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_es { background:url(es.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_et { background:url(et.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_fi { background:url(fi.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_fj { background:url(fj.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_fk { background:url(fk.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_fm { background:url(fm.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_fo { background:url(fo.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_fr { background:url(fr.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ga { background:url(ga.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gb { background:url(gb.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gd { background:url(gd.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ge { background:url(ge.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gf { background:url(gf.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gg { background:url(gg.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gh { background:url(gh.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gi { background:url(gi.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gl { background:url(gl.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gm { background:url(gm.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gn { background:url(gn.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gp { background:url(gp.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gq { background:url(gq.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gr { background:url(gr.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gs { background:url(gs.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gt { background:url(gt.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gu { background:url(gu.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gw { background:url(gw.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_gy { background:url(gy.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_hk { background:url(hk.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_hm { background:url(hm.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_hn { background:url(hn.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_hr { background:url(hr.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ht { background:url(ht.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_hu { background:url(hu.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_id { background:url(id.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ie { background:url(ie.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_il { background:url(il.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_im { background:url(im.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_in { background:url(in.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_io { background:url(io.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_iq { background:url(iq.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ir { background:url(ir.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_is { background:url(is.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_it { background:url(it.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_je { background:url(je.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_jm { background:url(jm.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_jo { background:url(jo.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_jp { background:url(jp.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ke { background:url(ke.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_kg { background:url(kg.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_kh { background:url(kh.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ki { background:url(ki.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_km { background:url(km.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_kn { background:url(kn.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_kp { background:url(kp.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_kr { background:url(kr.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_kw { background:url(kw.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ky { background:url(ky.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_kz { background:url(kz.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_la { background:url(la.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_lb { background:url(lb.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_lc { background:url(lc.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_li { background:url(li.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_lk { background:url(lk.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_lr { background:url(lr.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ls { background:url(ls.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_lt { background:url(lt.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_lu { background:url(lu.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_lv { background:url(lv.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ly { background:url(ly.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ma { background:url(ma.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mc { background:url(mc.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_md { background:url(md.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_me { background:url(me.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mf { background:url(mf.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mg { background:url(mg.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mh { background:url(mh.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mk { background:url(mk.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ml { background:url(ml.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mm { background:url(mm.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mn { background:url(mn.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mo { background:url(mo.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mp { background:url(mp.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mq { background:url(mq.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mr { background:url(mr.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ms { background:url(ms.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mt { background:url(mt.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mu { background:url(mu.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mv { background:url(mv.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mw { background:url(mw.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mx { background:url(mx.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_my { background:url(my.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_mz { background:url(mz.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_na { background:url(na.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_nc { background:url(nc.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ne { background:url(ne.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_nf { background:url(nf.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ng { background:url(ng.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ni { background:url(ni.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_nl { background:url(nl.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_no { background:url(no.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_np { background:url(np.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_nr { background:url(nr.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_nu { background:url(nu.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_nz { background:url(nz.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_om { background:url(om.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_pa { background:url(pa.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_pe { background:url(pe.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_pf { background:url(pf.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_pg { background:url(pg.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ph { background:url(ph.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_pk { background:url(pk.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_pl { background:url(pl.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_pm { background:url(pm.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_pn { background:url(pn.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_pr { background:url(pr.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ps { background:url(ps.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_pt { background:url(pt.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_pw { background:url(pw.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_py { background:url(py.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_qa { background:url(qa.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_re { background:url(re.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ro { background:url(ro.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_rs { background:url(rs.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ru { background:url(ru.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_rw { background:url(rw.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sa { background:url(sa.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sb { background:url(sb.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sc { background:url(sc.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sd { background:url(sd.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_se { background:url(se.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sg { background:url(sg.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sh { background:url(sh.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_si { background:url(si.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sj { background:url(sj.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sk { background:url(sk.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sl { background:url(sl.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sm { background:url(sm.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sn { background:url(sn.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_so { background:url(so.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sr { background:url(sr.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ss { background:url(ss.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_st { background:url(st.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sv { background:url(sv.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sx { background:url(sx.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sy { background:url(sy.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_sz { background:url(sz.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_tc { background:url(tc.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_td { background:url(td.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_tf { background:url(tf.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_tg { background:url(tg.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_th { background:url(th.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_tj { background:url(tj.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_tk { background:url(tk.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_tl { background:url(tl.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_tm { background:url(tm.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_tn { background:url(tn.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_to { background:url(to.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_tr { background:url(tr.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_tt { background:url(tt.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_tv { background:url(tv.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_tw { background:url(tw.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_tz { background:url(tz.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ua { background:url(ua.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ug { background:url(ug.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_um { background:url(um.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_us { background:url(us.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_uy { background:url(uy.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_uz { background:url(uz.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_va { background:url(va.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_vc { background:url(vc.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ve { background:url(ve.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_vg { background:url(vg.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_vi { background:url(vi.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_vn { background:url(vn.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_vu { background:url(vu.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_wf { background:url(wf.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ws { background:url(ws.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_xk { background:url(xk.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_ye { background:url(ye.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_yt { background:url(yt.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_za { background:url(za.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_zm { background:url(zm.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_zw { background:url(zw.gif) center center no-repeat; display:inline-block; width:24px; height:16px; background-size:100% 100%;}
.f_