.onlyWeb { display:none; }
.onlyMobile {}
.displayNone { display:none !important; }


@font-face {
    font-family: 'osbold';
    src: url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
    src: url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'),
         url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../../css/fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ossemibold';
    src: url('../../css/fonts/opensans_semibold_macroman/OpenSans-Semibold.eot');
    src: url('../../css/fonts/opensans_semibold_macroman/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../../css/fonts/opensans_semibold_macroman/OpenSans-Semibold.woff') format('woff'),
         url('../../css/fonts/opensans_semibold_macroman/OpenSans-Semibold.ttf') format('truetype'),
         url('../../css/fonts/opensans_semibold_macroman/OpenSans-Semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'osbolder';
    src: url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.eot');
    src: url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../../css/fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'osregular';
    src: url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../../css/fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { font:normal 17px 'osregular', arial; letter-spacing:0.5px; }

.content a { text-decoration:none; color:inherit; }
.content a:hover { color: #EE4123; text-decoration:underline; }



.clearBoth { display:block; clear:both;}

.breadcrumbs { text-align:left; display:none; }
.breadcrumbs a { color:#8A9414; text-decoration:none; }
.breadcrumbs a:hover { font-family:ossemibold;	 }
.breadcrumbs span { padding:0 4px; color:#8A9414; }

.textContent { font-size:1em; color:#444; }
.textContent ul li { list-style-type:none; position:relative; margin-bottom: 8px; }
.textContent ul li:before { content:'+'; font-family:ossemibold; position:absolute; top:0; left:-20px; color:#EE4123;}
.textContent ul li.email:before { content:'@'; }













/* ;;;;;;;;;;; Simple_SLIDE ;;;;;;;;;; */
.smpl_hslide.slideBackground { position:relative; height:420px; } 
.smpl_hslide.slideBackground .slide_nav { display:block; position:absolute; left:0; width:100%; top: 50%; text-align:center; z-index:9; }
.smpl_hslide.slideBackground .slide_nav ul { display:block; list-style-type:none; margin:0; padding:0; margin:0 auto; }
.smpl_hslide.slideBackground .slide_nav li { display:inline-block; list-style-type:none; margin:0; margin:0 4px; cursor:pointer;}
.smpl_hslide.slideBackground .slide_nav .prev,
.smpl_hslide.slideBackground .slide_nav .next { display:none; }
.smpl_hslide.slideBackground .slide_nav .link a { display:block; cursor:pointer; background: url(../../web/img/banner_1/paginador.png) center top; overflow:hidden; text-indent:-1000px; width:20px; height:21px; }
.smpl_hslide.slideBackground .slide_nav .link.active a { background-position:center bottom; }
.smpl_hslide.slideBackground .img { position:relative; margin:0 auto; }
.smpl_hslide.slideBackground img.page-image { position:absolute; left:0; top:0; width:100%; height:320px; pointer-events:none;  background: center top no-repeat; background-size: auto 100%; }
.smpl_hslide.slideBackground .slide-mark { position:relative; margin:0 auto; text-align:center; top: 56%; padding: 0 16px; }
.smpl_hslide.slideBackground .slide-title { font-weight:normal; font-size:1em; color:#EE4123; text-transform:uppercase; margin-bottom:16px; font-size: 13px; }
.smpl_hslide.slideBackground .slide-title:first-line { font-family:osbold; font-size: 16px; }
.smpl_hslide.slideBackground .slide-content { display:none; }
.smpl_hslide.slideBackground a.link {
	display:block; border:0; padding:8px 28px 8px 16px; background:#EE4123 url(../img/boton_green_mobile_over.png) left center no-repeat; -webkit-border-radius: 1.5rem; -moz-border-radius: 1.5rem; border-radius: 1.5rem; text-align:left; width:auto; overflow:hidden; margin:0 auto; text-align:center;
	color: #fff; font-family: 'ossemibold',arial Blak; font-size: 14px; position:relative; text-transform: uppercase; text-decoration: none; font-size: 18px;
}
.smpl_hslide.slideBackground a.link:after { content: url(../../web/img/arrow-left.png); position:absolute; right:12px; top:50%; margin-top:-7px; }
.smpl_hslide.slideBackground a.link:hover { background-image: url(../img/boton_orange_mobile.png); }



.smpl_hslide.slideBackground.loscursos  { border: 0; height: 260px; top: -44px; }
.smpl_hslide.slideBackground.loscursos  img.page-image { height:240px; pointer-events:none;  background: center center no-repeat; background-size: 100%; }
.smpl_hslide.slideBackground.loscursos .slide_nav { top: 250px; }
.smpl_hslide.slideBackground.loscursos .slide-title { display:none; }
.smpl_hslide.slideBackground.loscursos .slide-content { display:block; position: relative; top:120px; left: -16px; width: auto; padding: 0 4px; height: 65px; }
.smpl_hslide.slideBackground.loscursos .slide-mark { position:absolute; top:0; width:100%; }
.smpl_hslide.slideBackground.loscursos .slide-mark { position:absolute; top:0; width:100%; }
.smpl_hslide.slideBackground.loscursos .slide-mark .link { background:transparent; font-size:1px; color:transparent; width:auto; height:46px; padding:0; position: relative; left: -16px; text-align: center; }
.smpl_hslide.slideBackground.loscursos .link { background:transparent; font-size:1px; color:transparent; }
.smpl_hslide.slideBackground.loscursos .link:after { display:none; }
.smpl_hslide.slideBackground.loscursos .link span.icon { display:block; width:46px; height:46px; background:center bottom no-repeat; position:absolute; left:50%; top:0; margin-left:-23px; }
.smpl_hslide.slideBackground.loscursos .link:hover { background:transparent; }
.smpl_hslide.slideBackground.loscursos .link:hover span.icon { background-position:center top; }

.smpl_hslide.slideImage { position:relative; width: 1px; margin: 0 auto 50px auto; } 
.smpl_hslide.slideImage .slide_nav { display:block; list-style-type:none; margin:0; padding:0; position:absolute; top:166px; width:900px; left:-450px; height:100px; z-index:10; }
.smpl_hslide.slideImage .slide_nav  ul { display:block; list-style-type:none; margin:0; padding:0; }
.smpl_hslide.slideImage .slide_nav  li { display:block; list-style-type:none; margin:0; padding:0; }
.smpl_hslide.slideImage .slide_nav .prev,
.smpl_hslide.slideImage .slide_nav .next { display:block; cursor:pointer; width:45px; height:53px; background-position:center 0px; font-size:1px; text-indent:-100px; overflow:hidden; }
.smpl_hslide.slideImage .slide_nav .prev { float:left; background-image:url(../../web/img/banner_3/flecha_izquierda.png); position:relative;  background-size: 66px; margin-left:16px; }
.smpl_hslide.slideImage  .slide_nav .next { float:right; background-image:url(../../web/img/banner_3/flecha_derecha.png); position:relative; background-size: 66px; margin-right:16px; }
.smpl_hslide.slideImage .slide_nav .link { display:none; position:absolute; left:3px; top:128px; width:100%; text-align:center; height:100px; vertical-align:middle;}
.smpl_hslide.slideImage .slide_nav .link.active { display:table-cell; }
.smpl_hslide.slideImage .slide_nav .link a { display:inline-block; }
.smpl_hslide.slideImage .slide { position:relative; left:0; top:0; z-index:0; width:0 !important; float:left;}
.smpl_hslide.slideImage .img { position:absolute; width:320px; height:440px; }
.smpl_hslide.slideImage img.page-image { width:100%; height:100%; pointer-events:none; background: center center no-repeat; background-size:100% 100%;  }
.smpl_hslide.slideImage .slide-mark { position:relative; left:-512px; width:1024px; text-align:center; background:url(../../web/img/general/bloque1.png) center top no-repeat; }
.smpl_hslide.slideImage .slide-title { font-size: 24px; color:#8A9414; padding: 32px 16px 0; }
.smpl_hslide.slideImage .slide-content { padding-top: 6px; padding: 0 16px; }
.smpl_hslide.slideImage .link img { height:130px !important; width:130px !important;}
.smpl_hslide.slideImage .new_navigate { display:block !important; position:absolute; z-index:14; text-align:center; }
.smpl_hslide.slideImage .new_navigate .button_nav { display:inline-block;
	cursor:pointer; background: url(../../web/img/banner_1/paginador.png) center top; overflow:hidden; text-indent:-1000px; width:20px; height:21px;
}
.smpl_hslide.slideImage .new_navigate .button_nav.active { background-position:center bottom; }

.home-slide-title, .home-slide-content { display:none; }

.home-slide_3 { background:url(../../web/img/banner_4/back_3.png) center top no-repeat; border-top: 1px solid #eee; }
.home-slide_3 .home-slide-content { display:block !important; color: red; text-transform: uppercase; font-size: 24px; padding:16px; }
.home-slide_3 .home-slide-content strong { display:block; font-size:24px; font-family:osbold; }


.slide-mainTitle { font-size:24px; padding:32px 0; }
.smpl_tabs { padding: 0 0 32px; }
.smpl_tabs .tab a.link { display:block; text-decoration:none; }
.smpl_tabs .tab a.link:hover { background:#EE4123; }
.smpl_tabs .tab a.link .img-tab { width:100%; }
.smpl_tabs .tab a.link:hover .img-tab { -moz-opacity: 0.57; -khtml-opacity: 0.57; opacity: 0.57; }
.smpl_tabs .tab a.link .tab-title { text-decoration:none; color:#EE4123; text-transform:uppercase; font-family:ossemibold; font-size:1rem; padding: 16px 8px; }
.smpl_tabs .tab a.link:hover .tab-title { color:#fff; }


#wrapper { width: 100%; overflow: hidden; }
